<div class="page-header">
    <h1 class="text-center" data-ng-bind="formName"></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs" >
            <div class="panel panel-info"  >
                <div class="panel-heading customTreeHeader">
                    <h4 class="text-center">Структура документа</h4>
                </div>
                <div class="panel-body">
                    <div data-folder-tree-view="true"
                         data-tree-id="treeId"
                         data-node-label="name"
                         data-tree-model="treeData">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" data-ng-controller="FormCtrl">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 text-left btn-toolbar">

                                <div class="btn-group ">
                                    <button type="button" class="btn btn-default"
                                            data-ng-disabled="states.previousState != null"
                                            data-ui-sref="draft">Загрузить черновик
                                    </button>
                                    <button type="button" class="btn btn-default" data-ng-click="createDraft()">
                                        Сохранить черновик
                                    </button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" data-ui-sref="print">
                                        Распечатать
                                    </button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-success"
                                            data-ng-disabled="states.nextState != null  || !form.$valid"
                                            data-ng-click="createXml()">
                                        Сформировать XML и подписать
                                    </button>
                                </div>

                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary"data-ui-sref="help">
                                        Помощь
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="form" role="form" class="form-horizontal">
                    <div class="panel-body">
                        <div class="container-fluid" data-ui-view="">

                        </div>
                    </div>
                    <div class="panel-footer customPanelFooter">
                        <div class="container-fluid">
                            <button type="button" class="btn btn-primary pull-left"
                                    data-ng-disabled="states.previousState == null"
                                    data-ng-click="goPreviousState()">Назад
                            </button>
                            <button type="button" class="btn btn-primary pull-right"
                                    data-ng-disabled="states.nextState == null" data-ng-click="goNextState()">Далее
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>