<h3>Форма для загрузки черновика</h3>
<div class="well well-large">
    <p>Вставьте содержимое в поле и нажмите кнопку 'Загрузить'</p>
    <textarea rows="7" class="form-control" data-ng-model="draft"></textarea>
    <button class="btn btn-primary btn-large" data-ng-click="loadDraft()">Загрузить</button>
</div>


<hr/>
<div class="well well-large">
    <p>Выберите файл xml и нажмите кнопку 'Загрузить'</p>
    <div class="btn-group">
        <input class="btn btn-default" type="file" name="fileDownload"
               onchange="angular.element(this).scope().fileNameChanged(this)"/>
        <button class="btn btn-primary" data-ng-disabled="!curFile" data-ng-click="loadDraftFromFile()">
            Загрузить
        </button>
    </div>
</div>
