<h2>Помощь по заполнению формы</h2>

<h4 class="text-danger">(Инструкция писалась по состоянию проекта несколько дней назад. С тех пор многое устарело. Картинки также только бы запутывали, поэтому не добавленны)</h4>


<p>При запуске приложения появляется экран следующего вида:</p>

<p>Рис. 1. Главное окно приложения</p>
<p>Стоит учесть, что колонка  «Структура документа» левой части экрана отсутствует в случае узкого экрана на некоторых устройствах. Вид приложения для него несколько изменится. Навигация по полям формы осуществляется с помощью кнопок «Далее», «Назад».</p>

<p>Рис. 2. Главное окно приложения (узкий экран)</p>
<p>Первый шаг в работе с приложением – выбор отчетного периода. Отчетный период состоит из двух полей ввода: «По состоянию на» дату и «Отчетный год». Названия обоих полей отмечены звездочкой – что является признаком обязательного к заполнению поля. Отчетная дата выбирается из выпадающего списка как один из предлагаемых вариантов:</p>

<p>Рис. 3. Выбор отчетной даты</p>
<p>После выбора пользователем значения из списка заполненное нужным вариантом поле подсветится зеленым, а слева от данных появится значок зеленая галочка:</p>

<p>Рис. 4. Осуществлен выбор даты отчета</p>
<p>Следующий этап – ввод года отчета. Значение года не должно быть ранее 2016 и более текущего (2017), при вводе в поле букв и символов поле также подсвечивается красной рамкой и снабжается красным крестиком слева, соответствующие подсказки наложенных на ввод ограничений всплывают под ним:</p>

<p>Рис. 5. Некорректный ввод отчетного года</p>
<p>После корректного заполнения обоих полей слева от них появляется значок «зеленая галочка» и рамки их тоже становятся зелеными:</p>

<p>Рис. 6. Выбор отчетного года завершен корректно</p>
<p>Сигналом корректного заполнения отчетного периода является также зеленая галочка справа от названия пункта в левом перечне Структуры документа. Переводим курсор мыши на следующий пункт этого списка, либо нажимаем выделенную контурной подсказкой клавишу «Далее» для перехода  к заполнению разделов документа:</p>

<p>Рис. 7. Отчетный период введен</p>
<p>Выделенный пункт раздела формы в колонке «Структура документа» соответствует экрану справа с Подразделами, нуждающимися в заполнении. Те же подразделы представлены в древовидном списке колонки «Структура документа»:</p>

<p>Рис. 8. Заполнение разделов формы</p>
<p>Далее либо переходим курсором мыши по пунктам списка, выбирая последовательно Подраздел для заполнения, либо нажимаем клавишу «Перейти» в каждом, начиная с первого, из обозначенных подразделов.</p>
<p>На рисунке ниже представлено типичное открытое для заполнения окно формы с полями ввода. Выделенное название в колонке «Структура документа» соответствует заполняемому в данный момент разделу (подразделу) формы. Знак звездочки в конце названия поля говорит об обязательности его заполнения.</p>
<p>Рис. 9. Открытая форма с полями для заполнения</p>
<p>Некоторые из полей снабжены выпадающим списком значений для выбора варианта:</p>

<p>Рис. 10. Открытый выпадающий список значений</p>
<p>При корректном заполнении поля оно подсвечивается зеленой рамкой, а слева от значения появляется символ зеленой галочки:</p>

<p>Рис. 11. Правильно заполненное поле ввода</p>
<p>Некорректное заполнение поля сопровождается красной подсветкой и красным шрифтом написанными правилами ограничения заполнения под ним, а также знаком крестика слева от поля ввода.</p>

<p>Рис. 12. Некорректно заполняемое поле ввода</p>
<p>В случае если внутри подраздела присутствует клавиша «Добавить», как на рисунке внизу, создаем новую описываемую единицу в форме как подуровень в древовидном списке «Структуры документа».</p>

<p>Рис. 13. Создание подуровня в «Структуре документа»</p>
<p>Новое описываемое подразделение появляется как подуровень выделенного раздела в древовидном списке «Структуры документа».</p>

<p>Рис. 14. Изменение списка «Структуры документа»</p>
<p>При полном корректном заполнении всех обязательных полей ввода раздела (подраздела) формы и переходе к заполнению следующего пункта из перечня «Структуры документа» название заполненного раздела  подсвечивается зеленым цветом и помечается зеленым знаком галочки справа:</p>

<p>Рис. 15. Корректно заполненный подраздел</p>
<p>В случае перехода к заполнению следующего при неполном или некорректном заполнении полей вводимых данных раздела (подраздела) название его в колонке «Структура документа» подсвечивается красным цветом и помечается значком красного крестика справа:</p>

<p>Рис. 16. Неправильно заполненный подраздел</p>
<p>Описание клавиш управления формой</p>

<p>Рис. 17. Клавиши навигации</p>
<p>На любом этапе работы доступно выполнение двух из представленных клавишами навигации формы режимов:</p>
<p>печати текущего состояния заполнения формы по кнопке «Распечатать»,</p>
<p>сохранения по клавише «Сохранить черновик» текущего состояния заполненной или частично заполненной формы в файле xml- формата.</p>
<p>Сформированный таким образом файл дает возможность повторного обращения к данным заполняемой формы и продолжения работы с отчетом в удобное время, т.к.</p>
<p>созданный с помощью режима «Сохранить черновик» файл может быть загружен в настоящее приложение с помощью описываемого далее режима «Загрузить черновик».</p>

<p>Помимо последовательного заполнения всех обязательных к вводу полей формы возможен вариант загрузки данных в форму с помощью режима работы приложения «Загрузить черновик», вызываемого нажатием одноименной клавиши навигации по форме.</p>

<p>Рис. 18. Форма для загрузки черновика</p>
<p>Загрузку черновика в форму можно производить двумя различными способами:</p>
<p>с помощью выделенной на рисунке клавиши «Обзор» вызвать стандартное окно MS Windows, выбрать необходимый файл с данными по форме формата html и нажать клавишу «Загрузить»,</p>
<p>открыть требуемый к загрузке файл в подходящем для работы с текстовым форматом данных приложении (например, Блокнот) и, скопировав все содержимое, перенести его в поле, снабженное заголовком: «Вставьте содержимое в поле и нажмите кнопку 'Загрузить'», после чего также нажать клавишу «Загрузить» рядом.</p>
<p>На любом этапе работы с формой доступно выполнение печати текущего состояния заполнения формы по кнопке «Распечатать» внизу экрана.</p>

<p>Полностью и корректно заполненную форму можно отправлять на формирование файла формата</p>

<p>Рис. 19. Стандартная форма MS Windows для выбора загружаемого черновика</p>
