<div class="form-group">
    <label class="control-label col-sm-6 customControlLabel">По состоянию на <span class="text-danger">*</span></label>

    <div class="col-sm-6">
        <select class="form-control" data-ng-change="changePeriod()" data-ng-model="data.meta.period" name="data.meta.period" required>
            <option disabled value="">
                -----Выберите нужный вариант------
            </option>
            <option value="First_Quarter">
                31 марта (первый квартал)" - доступны все разделы для заполнения
            </option>
            <option value="Half_Year">
                30 июня (полугодие) - доступны все разделы для заполнения
            </option>
            <option value="Nine_Month">
                30 сентября (девять месяцев)"- доступны все разделы
                для заполнения
            </option>
            <option value="Pre_Year">
                31 декабря (годовой, не позднее 30 дней)" - доступны разделы для заполнения 1 и 3
            </option>
            <option value="Year">
                31 декабря (годовой, не позднее 90 дней)" - доступны разделы для заполнения: 1,2,4,5
            </option>
        </select>
    </div>
</div>

<div class="form-group customFormGroup" title="Поле обязательно для заполнения">
    <label class="control-label col-sm-6 customControlLabel">
        Отчетный год<span class="text-danger">*</span>
    </label>

    <div class="col-sm-6" id="d5905e11">
        <input class="form-control" type="text"
               data-xs-type="xs:integer"
               max-exclusive="" max-inclusive="2017" min-exclusive="" min-inclusive="2016" total-digits="4" required=""
               data-ng-model="data.form.Form_Data.Report_Year" name="data.form.Form_Data.Report_Year">
    </div>
</div>

