<div xml-tag-name="letter"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Сопроводительное письмо</h4>
    <br/>

    <div class="panel-collapse  blockBody" id="d5972e18113">
        <div class="panel-body customPanelPadding">
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">Полное наименование<span
                    class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e18117"><input class="form-control" type="text"
                                                              data-xs-type="xs:string" min-length="1"
                                                              max-length="255" length=""
                                                               required
                                                              xml-tag-name="Full_Name"
                                                              xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                              pattern="[а-яА-Я\s\p{P}\d]*"
                                                              pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                              data-ng-model="data.letter.Full_Name"
                                                              name="data.letter.Full_Name"></div>
            </div>
            <div class="panel panel-default customPanel clonesGroup" id="d5972e18134" min="0"
                 max="1" title="Сокращенное наименование">
                <div class="hidden prototype cloneElement">
                    <div class="panel-body customPanelPadding blockHead">
                        <div class="form-group customFormGroup"><label
                                class="control-label col-sm-6 customControlLabel blockHeadLabel"></label>

                            <div class="col-sm-6 customInputGroup" id="d5972e18134"><input
                                    class="form-control" type="text" data-xs-type="xs:string"
                                    min-length="1" max-length="255" length="" optional=""
                                    xml-tag-name="Short_Name"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    pattern="[а-яА-Я\s\p{P}\d]*"
                                    pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                    data-ng-model="data.letter.Short_Name"
                                    name="data.letter.Short_Name"><span
                                    class="input-group-btn"><button type="button"
                                                                    class="btn btn-default delCopyButton">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                Удалить
                            </button></span></div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-block btn-default panel-footer addCopyButton"><span
                        class="glyphicon glyphicon-plus customIconPadding4"
                        aria-hidden="true"></span>Добавить "Сокращенное наименование"

                </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">Идентификационный номер
                налогоплательщика (ИНН)<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e18151"><input class="form-control" type="text"
                                                              data-xs-type="xs:string" min-length=""
                                                              max-length="" length="10"
                                                               required  xml-tag-name="INN"
                                                              xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                              pattern="[0-9]{10}"
                                                              pattern-error="10 цифр"
                                                              data-check="INN"
                                                              data-ng-model="data.letter.INN"
                                                              name="data.letter.INN"></div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">Основной государственный
                регистрационный номер (ОГРН)<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e18166"><input class="form-control" type="text"
                                                              data-xs-type="xs:string" min-length=""
                                                              max-length="" length="13"
                                                               required  xml-tag-name="OGRN"
                                                              xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                              pattern="[0-9]{13}"
                                                              pattern-error="13 цифр"
                                                              data-check="OGRN"
                                                              data-ng-model="data.letter.OGRN"
                                                              name="data.letter.OGRN"></div>
            </div>
            <div class="panel panel-default customPanel collapseBlock" xml-tag-name="Leader"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-default panel-heading customPanelHeading blockHead"
                     href="#d5972e18181"  aria-controls="d5972e18181"
                     aria-expanded="false">
                    <div class="form-group customFormGroup">
                        <div class="control-label col-sm-6 customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Руководитель
                        </div>
                        <div class="col-sm-6"></div>
                       </div>
                </div>
                <div class="panel-collapse  blockBody" id="d5972e18181">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">Фамилия<span
                                class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e18183"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="255" length=""
                                                                           required
                                                                          xml-tag-attr="Family_Name"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="[а-яА-Я\s\p{P}\d]*"
                                                                          pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                                          data-ng-model="data.letter.Leader.Family_Name"
                                                                          name="data.letter.Leader.Family_Name"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">Имя<span
                                class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e18192"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="255" length=""
                                                                           required
                                                                          xml-tag-attr="Name"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="[а-яА-Я\s\p{P}\d]*"
                                                                          pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                                          data-ng-model="data.letter.Leader.Name"
                                                                          name="data.letter.Leader.Name"></div>
                        </div>
                        <div class="form-group customFormGroup"><label
                                class="control-label col-sm-6 customControlLabel">Отчество</label>

                            <div class="col-sm-6" id="d5972e18201"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="255" length=""
                                                                          optional=""
                                                                          xml-tag-attr="Patronymic_Name"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="[а-яА-Я\s\p{P}\d]*"
                                                                          pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                                          data-ng-model="data.letter.Leader.Patronymic_Name"
                                                                          name="data.letter.Leader.Patronymic_Name"></div>
                        </div>
                        <div class="panel panel-default customPanel clonesGroup" id="d5972e18212"
                             min="0" max="1"
                             title="Для иностранного гражданина фамилия и имя дополнительно указываются латинскими буквами">
                            <div class="hidden prototype cloneElement collapseBlock"
                                 xml-tag-name="Foreigner"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class=" panel-default form-group customFormGroup customFormGroupWight blockHead">
                                    <div class="panel-heading customPanelHeading col-custom col-custom-9-10"
                                         href="#d5972e18212"
                                         aria-controls="d5972e18212" aria-expanded="false">
                                        <div class="control-label customControlLabelHeading blockHeadLabel">
                                                                <span class="  customIconPadding3"
                                                                      aria-hidden="true"></span></div>
                                    </div>
                                    <div class="col-custom col-custom-1-10 panel-heading btn btn-default delCopyButtonPanel delCopyButton"
                                         role="button">
                                        <div class="pull-right"><span
                                                class="glyphicon glyphicon-minus"
                                                aria-hidden="true"></span>
                                            Удалить

                                        </div>
                                    </div>
                                </div>
                                <div class="panel-collapse  blockBody" id="d5972e18212">
                                    <div class="panel-body customPanelPadding">
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения"><label
                                                class="control-label col-sm-6 customControlLabel">Фамилия<span
                                                class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e18214"><input
                                                    class="form-control" type="text"
                                                    data-xs-type="xs:string" min-length="1"
                                                    max-length="255" length=""  required
                                                    xml-tag-attr="Family_Name"
                                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                    pattern="[a-zA-Z\s\p{P}\d]*"
                                                    pattern-error="Только латинские символы, пробел, знаки пунктуации и цифры"
                                                    data-ng-model="data.letter.Leader.Foreigner.Family_Name"
                                                    name="data.letter.Leader.Foreigner.Family_Name"></div>
                                        </div>
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения"><label
                                                class="control-label col-sm-6 customControlLabel">Имя<span
                                                class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e18223"><input
                                                    class="form-control" type="text"
                                                    data-xs-type="xs:string" min-length="1"
                                                    max-length="255" length=""  required
                                                    xml-tag-attr="Name"
                                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                    pattern="[a-zA-Z\s\p{P}\d]*"
                                                    pattern-error="Только латинские символы, пробел, знаки пунктуации и цифры"
                                                    data-ng-model="data.letter.Leader.Foreigner.Name"
                                                    name="data.letter.Leader.Foreigner.Name"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="btn btn-block btn-default panel-footer addCopyButton"><span
                                    class="glyphicon glyphicon-plus customIconPadding4"
                                    aria-hidden="true"></span>Добавить "Для иностранного гражданина
                                фамилия и имя дополнительно указываются латинскими
                                буквами"

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">Основание направления<span
                    class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e18244"><select class="form-control"  required
                                                               xml-tag-name="Send_Reason"
                                                               xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                    <option class="defaultValue" selected="true" value=""
                            data-ng-model="data.letter.Send_Reason"
                            name="data.letter.Send_Reason">-----Выберите нужный
                        вариант------
                    </option>
                    <option value="Первичное направление отчетности">Первичное направление
                        отчетности
                    </option>
                    <option value="Повторное направление отчетности">Повторное направление
                        отчетности
                    </option>
                    <option value="Направление отчетности в связи с полученным Предписанием Банка России">
                        Направление отчетности в связи с полученным Предписанием Банка России
                    </option>
                </select></div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">Исходящий номер<span
                    class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e18263"><input class="form-control" type="text"
                                                              data-xs-type="xs:string" min-length="1"
                                                              max-length="255" length=""
                                                               required
                                                              xml-tag-name="Doc_Number"
                                                              xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                              data-ng-model="data.letter.Doc_Number"
                                                              name="data.letter.Doc_Number"></div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">Дата исходящего документа<span
                    class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e18278"><input class="form-control"
                                                              data-xs-type="xs:date"  required
                                                              xml-tag-name="Doc_Date"
                                                              xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                              pattern="\d{4}-\d{2}-\d{2}"
                                                              pattern-error=""
                                                              data-ng-model="data.letter.Doc_Date"
                                                              name="data.letter.Doc_Date"></div>
            </div>
            <div class="panel panel-default customPanel clonesGroup" id="d5972e18291" min="0"
                 max="1" title="Примечания">
                <div class="hidden prototype cloneElement">
                    <div class="panel-body customPanelPadding blockHead">
                        <div class="form-group customFormGroup"><label
                                class="control-label col-sm-6 customControlLabel blockHeadLabel"></label>

                            <div class="col-sm-6 customInputGroup" id="d5972e18291"><input
                                    class="form-control" type="text" data-xs-type="xs:string"
                                    min-length="1" max-length="" length="" optional=""
                                    xml-tag-name="Note"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.letter.Note"
                                    name="data.letter.Note"><span
                                    class="input-group-btn"><button type="button"
                                                                    class="btn btn-default delCopyButton">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                Удалить
                            </button></span></div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-block btn-default panel-footer addCopyButton"><span
                        class="glyphicon glyphicon-plus customIconPadding4"
                        aria-hidden="true"></span>Добавить "Примечания"

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock" xml-tag-name="Performer"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-default panel-heading customPanelHeading blockHead"
                     href="#d5972e18304"  aria-controls="d5972e18304"
                     aria-expanded="false">
                    <div class="form-group customFormGroup">
                        <div class="control-label col-sm-6 customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Исполнитель
                        </div>
                        <div class="col-sm-6"></div>
                        </div>
                </div>
                <div class="panel-collapse  blockBody" id="d5972e18304">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">Фамилия<span
                                class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e18306"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="255" length=""
                                                                           required
                                                                          xml-tag-attr="Family_Name"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="[а-яА-Я\s\p{P}\d]*"
                                                                          pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                                          data-ng-model="data.letter.Performer.Family_Name"
                                                                          name="data.letter.Performer.Family_Name"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">Имя<span
                                class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e18315"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="255" length=""
                                                                           required
                                                                          xml-tag-attr="Name"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="[а-яА-Я\s\p{P}\d]*"
                                                                          pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                                          data-ng-model="data.letter.Performer.Name"
                                                                          name="data.letter.Performer.Name"></div>
                        </div>
                        <div class="form-group customFormGroup"><label
                                class="control-label col-sm-6 customControlLabel">Отчество</label>

                            <div class="col-sm-6" id="d5972e18324"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="255" length=""
                                                                          optional=""
                                                                          xml-tag-attr="Patronymic_Name"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="[а-яА-Я\s\p{P}\d]*"
                                                                          pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                                          data-ng-model="data.letter.Performer.Patronymic_Name"
                                                                          name="data.letter.Performer.Patronymic_Name"></div>
                        </div>
                        <div class="panel panel-default customPanel clonesGroup" id="d5972e18335"
                             min="0" max="1"
                             title="Для иностранного гражданина фамилия и имя дополнительно указываются латинскими буквами">
                            <div class="hidden prototype cloneElement collapseBlock"
                                 xml-tag-name="Foreigner"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class=" panel-default form-group customFormGroup customFormGroupWight blockHead">
                                    <div class="panel-heading customPanelHeading col-custom col-custom-9-10"
                                         href="#d5972e18335"
                                         aria-controls="d5972e18335" aria-expanded="false">
                                        <div class="control-label customControlLabelHeading blockHeadLabel">
                                                                <span class="  customIconPadding3"
                                                                      aria-hidden="true"></span></div>
                                    </div>
                                    <div class="col-custom col-custom-1-10 panel-heading btn btn-default delCopyButtonPanel delCopyButton"
                                         role="button">
                                        <div class="pull-right"><span
                                                class="glyphicon glyphicon-minus"
                                                aria-hidden="true"></span>
                                            Удалить

                                        </div>
                                    </div>
                                </div>
                                <div class="panel-collapse  blockBody" id="d5972e18335">
                                    <div class="panel-body customPanelPadding">
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения"><label
                                                class="control-label col-sm-6 customControlLabel">Фамилия<span
                                                class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e18337"><input
                                                    class="form-control" type="text"
                                                    data-xs-type="xs:string" min-length="1"
                                                    max-length="255" length=""  required
                                                    xml-tag-attr="Family_Name"
                                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                    pattern="[a-zA-Z\s\p{P}\d]*"
                                                    pattern-error="Только латинские символы, пробел, знаки пунктуации и цифры"
                                                    data-ng-model="data.letter.Performer.Foreigner.Family_Name"
                                                    name="data.letter.Performer.Foreigner.Family_Name"></div>
                                        </div>
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения"><label
                                                class="control-label col-sm-6 customControlLabel">Имя<span
                                                class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e18346"><input
                                                    class="form-control" type="text"
                                                    data-xs-type="xs:string" min-length="1"
                                                    max-length="255" length=""  required
                                                    xml-tag-attr="Name"
                                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                    pattern="[a-zA-Z\s\p{P}\d]*"
                                                    pattern-error="Только латинские символы, пробел, знаки пунктуации и цифры"
                                                    data-ng-model="data.letter.Performer.Foreigner.Name"
                                                    name="data.letter.Performer.Foreigner.Name"></div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="btn btn-block btn-default panel-footer addCopyButton"><span
                                    class="glyphicon glyphicon-plus customIconPadding4"
                                    aria-hidden="true"></span>Добавить "Для иностранного гражданина
                                фамилия и имя дополнительно указываются латинскими
                                буквами"

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Performer_Phone" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-default panel-heading customPanelHeading blockHead"
                     href="#d5972e18366" aria-controls="d5972e18366"
                     aria-expanded="false">
                    <div class="form-group customFormGroup">
                        <div class="control-label col-sm-6 customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Номер телефона исполнителя
                        </div>
                        <div class="col-sm-6"></div>
                       </div>
                </div>
                <div class="panel-collapse  blockBody" id="d5972e18366">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">Код города<span
                                class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e18368"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="16" length=""
                                                                           required
                                                                          xml-tag-attr="City_Code"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="\d*"
                                                                          pattern-error="Текст, содержащий только цифры"
                                                                          data-ng-model="data.letter.Performer_Phone.City_Code"
                                                                          name="data.letter.Performer_Phone.City_Code"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">Номер
                            телефона<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e18377"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="16" length=""
                                                                           required
                                                                          xml-tag-attr="Phone_Number"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="\d*"
                                                                          pattern-error="Текст, содержащий только цифры"
                                                                          data-ng-model="data.letter.Performer_Phone.Phone_Number"
                                                                          name="data.letter.Performer_Phone.Phone_Number"></div>
                        </div>
                        <div class="form-group customFormGroup"><label
                                class="control-label col-sm-6 customControlLabel">Добавочный
                            номер</label>

                            <div class="col-sm-6" id="d5972e18386"><input class="form-control"
                                                                          type="text"
                                                                          data-xs-type="xs:string"
                                                                          min-length="1"
                                                                          max-length="16" length=""
                                                                          optional=""
                                                                          xml-tag-attr="Extension_Number"
                                                                          xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                          pattern="\d*"
                                                                          pattern-error="Текст, содержащий только цифры"
                                                                          data-ng-model="data.letter.Performer_Phone.Extension_Number"
                                                                          name="data.letter.Performer_Phone.Extension_Number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>