<div class="form-group hidden-print">
    <button class="btn btn-success btn-large" onclick="history.back()">Назад</button>
    <button class="btn btn-primary btn-large" onclick="print()">Печать</button>
</div>

<p class="doc-head-align-center">Отчет о деятельности
    ломбарда
</p>


<p class="doc-head-align-center">по состоянию на
    &quot;__&quot; __________ {{data.form.Form_Data.Report_Year}} г.</p>


<p class="doc-head-align-right">
    Код формы по ОКУД
    0420890
</p>


<p class="doc-head-align-right">Квартальная</p>

<h2>Раздел I. Общие сведения о ломбарде</h2>
<h3>Подраздел 1. Реквизиты ломбарда</h3>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th>
            <p>Полное наименование ломбарда</p>
        </th>
        <th>
            <p>Сокращенное наименование ломбарда</p>
        </th>
        <th>
            <p>Код организационно правовой формы ломбарда по ОКОПФ</p>
        </th>
        <th>
            <p>Идентификационный номер налогоплательщика (ИНН) ломбарда</p>
        </th>
        <th>
            <p>Основной государственный регистрационный номер (ОГРН) ломбарда</p>
        </th>
        <th>
            <p>Место нахождения ломбарда</p>
        </th>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>3</p>
        </td>
        <td>
            <p>4</p>
        </td>
        <td>
            <p>5</p>
        </td>
        <td>
            <p>6</p>
        </td>
    </tr>
    <tr>
        <td><p>{{data.periodChoice.Section_01.Sub_Section_01_01.Full_Name}}</p></td>
        <td><p>{{data.periodChoice.Section_01.Sub_Section_01_01.Short_Name}}</p></td>
        <td><p>{{data.periodChoice.Section_01.Sub_Section_01_01.OKOPF_Code}}</p></td>
        <td><p>{{data.periodChoice.Section_01.Sub_Section_01_01.INN}}</p></td>
        <td><p>{{data.periodChoice.Section_01.Sub_Section_01_01.OGRN}}</p></td>
        <td>
            <p>
                {{data.periodChoice.Section_01.Sub_Section_01_01.Location._ZIP_Code + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._Federation_Subject + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._Region + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._City + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._Street + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._House +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._Building + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Location._Flat}}
            </p>
        </td>
    </tr>
</table>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Адрес фактического нахождения ломбарда</p></th>
        <th><p>Адрес для почтовой корреспонденции</p></th>
        <th><p>Номер телефона ломбарда</p></th>
        <th><p>Номер факса ломбарда</p></th>
        <th><p>Адрес электронной почты ломбарда</p></th>
        <th><p>Адрес сайта ломбарда в информационно-телекоммуникационной сети "Интернет"</p></th>
    </tr>
    <tr>
        <td><p>7</p></td>
        <td><p>8</p></td>
        <td><p>9</p></td>
        <td><p>10</p></td>
        <td><p>11</p></td>
        <td><p>12</p></td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._ZIP_Code + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Federation_Subject + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._City + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Street + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._House}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._ZIP_Code + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Federation_Subject + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Region + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._City + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Street + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._House +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Building + ", " +
                data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Flat}}
            </p>
        </td>
        <td class="phone-number-cell">
            <div data-ng-repeat="phone in data.periodChoice.Section_01.Sub_Section_01_01.Phones.Phone">
                <p>{{"(" + phone._City_Code + ")" + phone._Phone_Number + " " + phone_Extension_Number}}</p>
            </div>
        </td>
        <td class="phone-number-cell">
            <p>
                {{"(" + data.periodChoice.Section_01.Sub_Section_01_01.Fax._City_Code + ")" +
                data.periodChoice.Section_01.Sub_Section_01_01.Fax._Phone_Number + " " +
                data.periodChoice.Section_01.Sub_Section_01_01.Fax._Extension_Number}}
            </p>
        </td>
        <td>
            <div data-ng-repeat="email in data.periodChoice.Section_01.Sub_Section_01_01['E-Mails']['E-Mail']">
                <p>
                    {{email}}
                </p>
            </div>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_01.Sub_Section_01_01.URL}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h3>Подраздел 2. Сведения об обособленных подразделениях ломбарда</h3>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Порядковый номер</p></th>
        <th><p>Наименование обособленного подразделения ломбарда</p></th>
        <th><p>Вид обособленного подразделения ломбарда</p></th>
        <th><p>Адрес фактического нахождения обособленного подразделения ломбарда</p></th>
        <th><p>Номер телефона обособленного подразделения ломбарда</p></th>
        <th><p>Номер факса обособленного подразделения ломбарда</p></th>
        <th><p>Адрес электронной почты обособленного подразделения ломбарда</p></th>
    </tr>
    <tr>
        <td><p>13</p></td>
        <td><p>14</p></td>
        <td><p>15</p></td>
        <td><p>16</p></td>
        <td><p>17</p></td>
        <td><p>18</p></td>
        <td><p>19</p></td>
    </tr>
    <tr data-ng-repeat="division in data.periodChoice.Section_01.Sub_Section_01_02.Subdivision">
        <td>
            <p>
                {{division.Sequence_Number}}
            </p>
        </td>
        <td>
            <p>
                {{division.Name}}
            </p>
        </td>
        <td>
            <p>
                {{division.Subdivision_Type}}
            </p>
        </td>
        <td>
            <p>
                {{division.Real_Address._ZIP_Code + ", " + division.Real_Address._Federation_Subject + "," +
                division.Real_Address._City + ", " + division.Real_Address._Street + ", " +
                division.Real_Address._House}}
            </p>
        </td>
        <td class="phone-number-cell">
            <div data-ng-repeat="phone in division.Phones.Phone">
                <p>
                    {{"(" + phone._City_Code + ")" + phone._Phone_Number + " " + phone._Extension_Number}}
                </p>
            </div>
        </td>
        <td>
            <p>
                {{"(" + division.Fax._City_Code + ")" + division.Fax._Phone_Number + " " +
                division.Fax._Extension_Number}}
            </p>
        </td>
        <td>
            <p>
                {{division['E-Mails']['E-Mail']}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h3>Подраздел 3. Сведения о счетах ломбарада, открытых в кредитных организациях</h3>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Порядковый номер</p></th>
        <th><p>Полное наименование кредитной организации</p></th>
        <th><p>Место нахождения кредитной организации</p></th>
        <th><p>Банковский идентификационный код (БИК) кредитной организации</p></th>
        <th><p>Тип счета</p></th>
        <th><p>Номер счета</p></th>
        <th><p>Дата открытия счета</p></th>
    </tr>
    <tr>
        <td><p>20</p></td>
        <td><p>21</p></td>
        <td><p>22</p></td>
        <td><p>23</p></td>
        <td><p>24</p></td>
        <td><p>25</p></td>
        <td><p>26</p></td>
    </tr>
    <tr data-ng-repeat="account in data.periodChoice.Section_01.Sub_Section_01_03.Account">
        <td>
            <p>
                {{account.Sequence_Number}}
            </p>
        </td>
        <td>
            <p>
                {{account.Bank_Name}}
            </p>
        </td>
        <td>
            <p>
                {{account.Russian_Bank.Bank_Location._ZIP_Code + ", " +
                account.Russian_Bank.Bank_Location._Federation_Subject + "," +
                account.Russian_Bank.Bank_Location._City + ", " + account.Russian_Bank.Bank_Location._Street + ", " +
                account.Russian_Bank.Bank_Location._House}}
            </p>
        </td>
        <td>
            <p>
                {{account.Russian_Bank.BIC}}
            </p>
        </td>
        <td>
            <p>
                {{account.Russian_Bank.Account_Type}}
            </p>
        </td>
        <td>
            <p>
                {{account.Russian_Bank.Account_Number}}
            </p>
        </td>
        <td>
            <p>
                {{account.Account_Open_Date}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h3>Подраздел 4. Сведения о страховых организациях, осуществляющих страхование имущества, переданного ломбарду в залог
    и принятое на хранение</h3>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Порядковый номер</p></th>
        <th><p>Полное наименование страховой организации</p></th>
        <th><p>Место нахождения страховой организации</p></th>
        <th><p>Идентификационный номер налогоплательщика (ИНН) страховой организации</p></th>
        <th><p>Основной государственный регистрационный номер (ОГРН) страховой организации</p></th>
        <th><p>Регистрационный номер в Едином государственном реестре субъектов страхового дела</p></th>
    </tr>
    <tr>
        <td><p>27</p></td>
        <td><p>28</p></td>
        <td><p>29</p></td>
        <td><p>30</p></td>
        <td><p>31</p></td>
        <td><p>32</p></td>
    </tr>
    <tr data-ng-repeat="firm in data.periodChoice.Section_01.Sub_Section_01_04.Insurance_Firm">
        <td>
            <p>
                {{firm.Sequence_Number}}
            </p>
        </td>
        <td>
            <p>
                {{firm.Firm_Name}}
            </p>
        </td>
        <td>
            <p>
                {{firm.Firm_Location._ZIP_Code + ", " + firm.Firm_Location._Federation_Subject + "," +
                firm.Firm_Location._City + ", " + firm.Firm_Location._Street + ", " +
                firm.Firm_Location._House + firm.Firm_Location._Building}}
            </p>
        </td>
        <td>
            <p>
                {{firm.INN}}
            </p>
        </td>
        <td>
            <p>
                {{firm.OGRN}}
            </p>
        </td>
        <td>
            <p>
                {{firm.Insurance_Reg_Number}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h2>Раздел II. Основные показатели деятельности ломбарда</h2>
<br/>
<h3>Подраздел 1. Сведения о займах</h3>
<br/>
<h4>1.1. Задолженность по основному долгу по предоставленным займам (тыс. руб.)</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Сумма займов, выданных за отчетный период</p></th>
        <th><p>Сумма задолженности по основному долгу по предоставленным займам на конец отчетного периода, в том
            числе:</p></th>
        <th><p>Сумма задолженности по основному долгу по предоставленным займам, не погашенным в установленный срок</p>
        </th>
    </tr>
    <tr>
        <td><p>33</p></td>
        <td><p>34</p></td>
        <td><p>34.1</p></td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Loan_Amount}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Not_Repaid_Debt}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h4>1.2. Задолженность по процентам по предоставленным займам</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Сумма начисленных процентов по предоставленным займам за отчетный период</p></th>
        <th><p>Сумма задолженности по процентам по предоставленным займам на конец отчетного периода, в том числе:</p>
        </th>
        <th><p>Сумма задолженности по прлцентам по предоставленным займам, не погашенным в установленный срок</p>
        </th>
    </tr>
    <tr>
        <td><p>35</p></td>
        <td><p>36</p></td>
        <td><p>36.1</p></td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Interest_For_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Interest_For_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Not_Repaid_Interest}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h4>1.3. Полученные денежные средства по предоставленным займам</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th><p>Сумма денежных средств, поступивших за отчетный период в погашение задолженности по основному долгу по
            предоставленным займам</p></th>
        <th><p>Сумма фактически полученных за отчетный период процентов по предоставленным займам</p></th>
        <th><p>Сумма денежных средств от реализации невостребованных вещей, поступивших за отчетный период в погашение
            задолженности по основному долгу по предоставленным займам</p>
        <th><p>Сумма денежных средств от реализации невостребованных вещей, поступивших за отчетный период в погашение
            задолженности по процентам по предоставленным займам</p>
        </th>
    </tr>
    <tr>
        <td><p>37</p></td>
        <td><p>38</p></td>
        <td><p>39</p></td>
        <td><p>40</p></td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Payment_Main_Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Payment_Interest}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Sale_For_Main_Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Sale_For_Interest}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h4>1.4. Информация о договорах займа</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th>
            <p>Количество
                договоров займа, по которым на конец отчетного периода обязательства не
                погашены или заложенные вещи не проданы, шт., в том числе:
            </p>
        </th>
        <th>
            <p>Количество
                договоров займа, обязательства по которым не погашены в установленный срок и
                которые находятся на льготном месячном сроке, на конец отчетного периода, шт.
            </p>
        </th>
        <th>
            <p>
                Количество
                договоров займа, по которым истек льготный месячный срок, но обязательства по
                ним не погашены или заложенное имущество еще не продано на конец отчетного
                периода, шт.
            </p>
        </th>
        <th>
            <p>
                Количество
                заемщиков на конец отчетного периода, чел.
            </p>
        </th>
        <th>
            <p>
                Количество
                договоров займа, заключенных за отчетный период, шт.
            </p>
        </th>
    </tr>
    <tr>
        <td><p>41</p></td>
        <td><p>41.1</p></td>
        <td><p>41.2</p></td>
        <td><p>42</p></td>
        <td><p>43</p></td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Not_Made_Contracts}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.In_Preferential_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Out_Preferential_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Debtors}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Contracts_For_Period}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h4>1.5 Иные сведения по договорам займа (тыс. руб.)</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th>
            <p>
                Сумма
                реструктурированной в отчетном периоде задолженности по договорам займа
            </p>
        </th>
        <th>
            <p>
                Сумма
                списанной в отчетном периоде задолженности по основному долгу по договорам
                займа
            </p>
        </th>
        <th>
            <p>
                Сумма денежных
                средств, подлежащая получению ломбардом в результате реализации невостребованных
                вещей, на конец отчетного периода
            </p>
        </th>
    </tr>
    <tr>
        <td><p>44</p></td>
        <td><p>45</p></td>
        <td><p>46</p></td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.Restructured_Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.Described_Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.For_Sale}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h3>Подраздел 2. Сведения о денежных средствах, привлеченных ломбардом</h3>
<br/>
<h4>2.1. Сведения о денежных свредствах, привлеченных от юридических лиц</h4>
<br/>
<table border=1 frame="border" cellspacing="0">
    <tr>
        <th colspan="3">
            <p>
                Сумма
                задолженности по договорам займа и кредитным договорам, заключенным с
                юридическими лицами, на конец отчетного периода (основной долг и проценты),
                тыс. руб.
            </p>
        </th>
        <th rowspan="2">
            <p>
                Сумма денежных
                средств, предоставленных ломбарду юридическими лицами по договорам займа и
                кредитным договорам за отчетный период, тыс. руб.
            </p>
        </th>
        <th rowspan="2">
            <p>
                Количество
                юридических лиц, предоставивших ломбарду денежные средства по договорам займа
                и кредитным договорам за отчетный период, ед.
            </p>
        </th>
    </tr>
    <tr>
        <th>
            <p>
                по основному долгу тыс. руб.
            </p>
        </th>
        <th>
            <p>
                по процентам тыс. руб.
            </p>
        </th>
        <th>
            <p>
                всего тыс. руб.
            </p>
        </th>
    </tr>
    <tr>
        <th>
            <p>47</p>
        </th>
        <th>
            <p>48</p>
        </th>
        <th>
            <p>49</p>
        </th>
        <th>
            <p>50</p>
        </th>
        <th>
            <p>51</p>
        </th>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Main_Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Interests}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Total}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.Count}}
            </p>
        </td>
    </tr>
    <tr>
        <th colspan="5">
            <p>в том числе по договорам, заключенным с кредитными организациями</p>
        </th>
    </tr>
    <tr>
        <th>
            <p>51</p>
        </th>
        <th>
            <p>53</p>
        </th>
        <th>
            <p>54</p>
        </th>
        <th>
            <p>55</p>
        </th>
        <th>
            <p>56</p>
        </th>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Main_Debt}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Interests}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Total}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.For_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.Count}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h4>2.2. Сведения о денежных средствах, привлеченных от физических лиц, являющихся учредителями (членами,
    участниками)</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <td>
            <p>
                Сумма
                задолженности (основной долг и проценты) по договорам займа, заключенным с
                физическими лицами, являющимися учредителями (членами, участниками), на конец
                отчетного периода, тыс. руб.
            </p>
        </td>
        <td>
            <p>
                Сумма денежных
                средств, предоставленных ломбарду физическими лицами, являющимися
                учредителями (членами, участниками), по договорам займа за отчетный период,
                тыс. руб.
            </p>
        </td>
        <td>
            <p>
                Количество
                физических лиц, являющихся учредителями (членами, участниками),
                предоставивших ломбарду денежные средства по договорам займа за отчетный
                период, чел.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>57</p>
        </td>
        <td>
            <p>58</p>
        </td>
        <td>
            <p>59</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.On_Report_Date}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.For_Period}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.Count}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h4>2.3 Общие сведения о денежных средствах, привлеченных ломбардом</h4>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <td>
            <p>
                Общая сумма
                денежных средств, привлеченных ломбардом за отчетный период, тыс. руб.
            </p>
        </td>
        <td>
            <p>
                Общее
                количество договоров займа и кредитных договоров, заключенных ломбардом за
                отчетный период, шт.
            </p>
        </td>
        <td>
            <p>
                Сумма
                задолженности по основному долгу по займам и кредитам, привлеченным
                ломбардом, на конец отчетного периода, тыс. руб.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>60</p>
        </td>
        <td>
            <p>61</p>
        </td>
        <td>
            <p>62</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.All_Money}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.Contracts}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.Debt}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h3>Подраздел 3. Информация о страховании рисков ломбарда, связанных с вещами, принятыми в залог</h3>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th>
            <p>
                Количество
                договоров страхования вещей, принятых в залог, заключенных за отчетный
                период, шт.
            </p>
        </th>
        <th>
            <p>
                Сумма
                страховой премии (страховых взносов), уплаченной (уплаченных) за отчетный
                период ломбардом страховым организациям, тыс. руб.
            </p>
        </th>
        <th>
            <p>
                Страховая
                сумма, на которую застрахованы вещи, принятые в залог на конец отчетного
                периода, тыс. руб.
            </p>
        </th>
        <th>
            <p>
                Количество
                страховых случаев, наступивших за отчетный период, шт.
            </p>
        </th>
        <th>
            <p>
                Сумма выплат
                по страховым случаям, осуществленных страховыми организациями за отчетный
                период, тыс. руб.
            </p>
        </th>
    </tr>
    <tr>
        <th>
            <p>63</p>
        </th>
        <th>
            <p>64</p>
        </th>
        <th>
            <p>65</p>
        </th>
        <th>
            <p>66</p>
        </th>
        <th>
            <p>67</p>
        </th>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_03.Contracts}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_03.Premium}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_03.Insurance}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_03.Events}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_03.Payments}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h3>Подраздел 4. Иная информация</h3>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <th>
            <p>
                Количество
                договоров хранения вещей, заключенных за отчетный период ломбардом, шт.
            </p>
        </th>
        <th>
            <p>
                Общая сумма
                денежных средств, полученных за отчетный период ломбардом, по договорам
                хранения вещей, тыс. руб.</p>
        </th>
        <th>
            <p>
                Чистая прибыль
                (убыток) по всем видам деятельности, тыс. руб.</p>
        </th>
    </tr>
    <tr>
        <th>
            <p>68</p>
        </th>
        <th>
            <p>69</p>
        </th>
        <th>
            <p>70</p>
        </th>
    </tr>
    <tr>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_04.Contracts}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_04.All_Money}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_02.Sub_Section_02_04.Result.Profit}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h2>Раздел III. Средневзвешенные значения полной стоимости потребительских займов ломбарда</h2>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <td>
            <p>
                Номер строки
            </p>
        </td>
        <td>
            <p>
                Категории
                потребительских займов
            </p>
        </td>
        <td>
            <p>
                Средневзвешенное
                значение полной стоимости потребительских займов (в процентах)
            </p>
        </td>
        <td>
            <p>
                Общая сумма
                предоставленных потребительских займов за последний квартал отчетного
                периода, тыс. руб.
            </p>
        </td>
        <td>
            <p>
                Количество
                договоров потребительского займа, заключенных за последний квартал отчетного
                периода, шт.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>71</p>
        </td>
        <td>
            <p>72</p>
        </td>
        <td>
            <p>73</p>
        </td>
        <td>
            <p>74</p>
        </td>
        <td>
            <p>75</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>
                Потребительские займы с обеспечением в виде залога
                транспортного средства
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_03.Bail_Transport.Average}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_03.Bail_Transport.All_Money}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_03.Bail_Transport.Contracts}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>
                Потребительские займы с обеспечением в виде залога
                иного имущества
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_03.Other_Bail.Average}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_03.Other_Bail.All_Money}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_03.Other_Bail.Contracts}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h2>Раздел IV. Балансовые показатели</h2>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <td>
            <p>
                Номер строки
            </p>
        </td>
        <td>
            <p>
                Наименование
                показателя
            </p>
        </td>
        <td>
            <p>
                Значение
                показателя
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>3</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>Активы, в том числе:</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Total}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1.1</p>
        </td>
        <td>
            <p>финансовые вложения</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Investments}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1.2</p>
        </td>
        <td>
            <p>дебиторская задолженность</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Debt}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1.3</p>
        </td>
        <td>
            <p>запасы</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Stocks}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1.4</p>
        </td>
        <td>
            <p>основные средства</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Fixed_Assets}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1.5</p>
        </td>
        <td>
            <p>денежные средства, в том числе:</p>
        </td>
        <td>
            {{data.periodChoice.Section_04.Assets.Cash.Total}}
        </td>
    </tr>
    <tr>
        <td>
            <p>1.5.1</p>
        </td>
        <td>
            <p>на расчетном счете</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Cash.Account}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1.5.2</p>
        </td>
        <td>
            <p>в кассе</p>
        </td>
        <td>
            {{data.periodChoice.Section_04.Assets.Cash.Cash_Store}}
        </td>
    </tr>
    <tr>
        <td>
            <p>1.6</p>
        </td>
        <td>
            <p>прочие активы</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Assets.Other_Assets}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>Капитал, в том числе:</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Capital.Total}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2.1</p>
        </td>
        <td>
            <p>уставный капитал</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Capital.Paid-in_Capital}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2.2</p>
        </td>
        <td>
            <p>резервный капитал</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Capital.Reserve_Capital}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2.3</p>
        </td>
        <td>
            <p>добавочный капитал</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Capital.Capital_Surplus}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2.4</p>
        </td>
        <td>
            <p>нераспределенная прибыль (непокрытый убыток)</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Capital.No_Destributed}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2.5</p>
        </td>
        <td>
            <p>прочие составляющие капитала</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Capital.Other_Capital}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3</p>
        </td>
        <td>
            <p>Обязательства, в том числе:</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Obligations.Total}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3.1</p>
        </td>
        <td>
            <p>заемные средства, в том числе:</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Obligations.Borrowed_Funds.Total}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3.1.1</p>
        </td>
        <td>
            <p>проценты, начисленные по заемным средствам</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Obligations.Borrowed_Funds.Interests}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3.2</p>
        </td>
        <td>
            <p>кредиторская задолженность ломбарда</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Obligations.Credit}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>3.3</p>
        </td>
        <td>
            <p>прочие обязательства</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_04.Obligations.Other_Obligations}}
            </p>
        </td>
    </tr>
</table>
<br/>
<h2>Раздел V. Информация об операциях с денежными средствами</h2>
<br/>
<table border=1 frame=border cellspacing=0>
    <tr>
        <td>
            <p>
                Наименование
                показателя
            </p>
        </td>
        <td>
            <p>
                Остаток
                денежных средств на начало последнего квартала отчетного периода
            </p>
        </td>
        <td>
            <p>
                Поступление
                денежных средств за последний квартал отчетного периода
            </p>
        </td>
        <td>
            <p>
                Выбытие
                денежных средств за последний квартал отчетного периода
            </p>
        </td>
        <td>
            <p>
                Остаток
                денежных средств на конец последнего квартала отчетного периода
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>3</p>
        </td>
        <td>
            <p>4</p>
        </td>
        <td>
            <p>5</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Наличные денежные средства</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Cash.Incoming_Balance}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Cash.Increase}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Cash.Decrease}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Cash.Outgoing_Balance}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Расчетные счета</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Current_Accounts.Incoming_Balance}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Current_Accounts.Increase}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Current_Accounts.Decrease}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Current_Accounts.Outgoing_Balance}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Валютные счета</p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Currency_Accounts.Incoming_Balance}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Currency_Accounts.Increase}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Currency_Accounts.Decrease}}
            </p>
        </td>
        <td>
            <p>
                {{data.periodChoice.Section_05.Currency_Accounts.Outgoing_Balance}}
            </p>
        </td>
    </tr>
</table>
<br/>
<div style="float: left;">Руководитель</div>
<div style="float: right;">{{data.form.Covering_Letter.Leader._Family_Name + " " +
    data.form.Covering_Letter.Leader._Name + " " + data.form.Covering_Letter.Leader._Patronymic_Name}}
</div>


<div class="form-group hidden-print">
    <button class="btn btn-success btn-large" onclick="history.back()">Назад</button>
    <button class="btn btn-primary btn-large" onclick="print()">Печать</button>
</div>