<div xml-tag-name="Section_05"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Раздел V. Информация об операциях с денежными
        средствами</h4>
    <br/>

    <div class="panel-collapse  blockBody" id="d5972e11562">
        <div class="panel-body customPanelPadding">
            <div xml-tag-name="Cash" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11566"
                         aria-controls="d5972e11566" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Наличные денежные средства
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11566">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2. Остаток
                                денежных средств на начало последнего квартала отчетного
                                периода, тыс.
                                руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11570"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Incoming_Balance"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Cash.Incoming_Balance"
                                        name="data.periodChoice.Section_05.Cash.Incoming_Balance"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">3.
                                Поступление денежных средств за последний квартал отчетного
                                периода, тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11583"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Increase"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Cash.Increase"
                                        name="data.periodChoice.Section_05.Cash.Increase"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">4. Выбытие
                                денежных средств за последний квартал отчетного периода, тыс.
                                руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11596"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Decrease"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Cash.Decrease"
                                        name="data.periodChoice.Section_05.Cash.Decrease"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">5. Остаток
                                денежных средств на конец последнего квартала отчетного периода,
                                тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11609"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Outgoing_Balance"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Cash.Outgoing_Balance"
                                        name="data.periodChoice.Section_05.Cash.Outgoing_Balance"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div xml-tag-name="Current_Accounts"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11632"
                         aria-controls="d5972e11632" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Расчетные счета
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11632">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2. Остаток
                                денежных средств на начало последнего квартала отчетного
                                периода, тыс.
                                руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11636"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Incoming_Balance"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Current_Accounts.Incoming_Balance"
                                        name="data.periodChoice.Section_05.Current_Accounts.Incoming_Balance"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">3.
                                Поступление денежных средств за последний квартал отчетного
                                периода, тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11649"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Increase"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Current_Accounts.Increase"
                                        name="data.periodChoice.Section_05.Current_Accounts.Increase"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">4. Выбытие
                                денежных средств за последний квартал отчетного периода, тыс.
                                руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11662"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Decrease"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Current_Accounts.Decrease"
                                        name="data.periodChoice.Section_05.Current_Accounts.Decrease"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">5. Остаток
                                денежных средств на конец последнего квартала отчетного периода,
                                тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11675"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Outgoing_Balance"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Current_Accounts.Outgoing_Balance"
                                        name="data.periodChoice.Section_05.Current_Accounts.Outgoing_Balance"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div xml-tag-name="Currency_Accounts"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11698"
                         aria-controls="d5972e11698" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Валютные счета
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11698">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2. Остаток
                                денежных средств на начало последнего квартала отчетного
                                периода, тыс.
                                руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11702"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Incoming_Balance"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Currency_Accounts.Incoming_Balance"
                                        name="data.periodChoice.Section_05.Currency_Accounts.Incoming_Balance"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">3.
                                Поступление денежных средств за последний квартал отчетного
                                периода, тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11715"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Increase"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Currency_Accounts.Increase"
                                        name="data.periodChoice.Section_05.Currency_Accounts.Increase"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">4. Выбытие
                                денежных средств за последний квартал отчетного периода, тыс.
                                руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11728"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Decrease"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Currency_Accounts.Decrease"
                                        name="data.periodChoice.Section_05.Currency_Accounts.Decrease"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">5. Остаток
                                денежных средств на конец последнего квартала отчетного периода,
                                тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11741"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Outgoing_Balance"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_05.Currency_Accounts.Outgoing_Balance"
                                        name="data.periodChoice.Section_05.Currency_Accounts.Outgoing_Balance"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>