<h4 class="customSectionHeader">
    Раздел I. Общие сведения о ломбарде
</h4>
<hr/>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 1. Реквизиты ломбарда</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_01/Sub_Section_01_01' role="button">Перейти</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 2. Сведения об обособленных подразделениях ломбарда</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_01/Sub_Section_01_02' role="button">Перейти</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 3. Сведения о счетах ломбарда, открытых в кредитных организациях</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_01/Sub_Section_01_03' role="button">Перейти</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 4. Сведения о страховых организациях, осуществляющих страхование имущества, переданного ломбарду в залог и принятого на хранение</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_01/Sub_Section_01_04' role="button">Перейти</a></p>
        </div>
    </div>
</div>
