<h4 class="customSectionHeader">
    Раздел II. Основные показатели деятельности ломбарда
</h4>
<hr/>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 1. Сведения о займах</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_02/Sub_Section_02_01' role="button">Перейти</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 2. Сведения о денежных средствах, привлеченных ломбардом</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_02/Sub_Section_02_02' role="button">Перейти</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 3. Информация о страховании рисков ломбарда, связанных с вещами</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_0n2/Sub_Section_02_03' role="button">Перейти</a></p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron">
            <h4>Подраздел 4. Иная информация</h4>
            <p><a class="btn btn-primary" data-ui-sref='root.Section_02/Sub_Section_02_04' role="button">Перейти</a></p>
        </div>
    </div>
</div>
