<div xml-tag-name="Section_03"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Раздел III. Средневзвешенные значения полной стоимости
        потребительских займов ломбарда</h4>
    <br/>


    <div class="panel-collapse  blockBody" id="d5972e11088">
        <div class="panel-body customPanelPadding">
            <div xml-tag-name="Bail_Transport"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11092"
                         aria-controls="d5972e11092" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Потребительские займы с обеспечением в
                            виде залога транспортного средства
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11092">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">73.
                                Средневзвешенное значение полной стоимости потребительских
                                займов (в процентах)<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11096"><input
                                        class="form-control" type="text" data-xs-type="xs:decimal"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="18" fraction-digits="3"
                                         required  xml-tag-name="Average"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_03.Bail_Transport.Average"
                                        name="data.periodChoice.Section_03.Bail_Transport.Average"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">74. Общая
                                сумма предоставленных потребительских займов за последний
                                квартал отчетного
                                периода, тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11111"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="All_Money"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_03.Bail_Transport.All_Money"
                                        name="data.periodChoice.Section_03.Bail_Transport.All_Money"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">75.
                                Количество договоров потребительского займа, заключенных за
                                последний квартал
                                отчетного периода, шт.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11124"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="0" total-digits="15"  required
                                        xml-tag-name="Contracts"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_03.Bail_Transport.Contracts"
                                        name="data.periodChoice.Section_03.Bail_Transport.Contracts"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div xml-tag-name="Other_Bail" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11149"
                         aria-controls="d5972e11149" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Потребительские займы с обеспечением в
                            виде залога иного имущества
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11149">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">73.
                                Средневзвешенное значение полной стоимости потребительских
                                займов (в процентах)<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11153"><input
                                        class="form-control" type="text" data-xs-type="xs:decimal"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="18" fraction-digits="3"
                                         required  xml-tag-name="Average"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_03.Other_Bail.Average"
                                        name="data.periodChoice.Section_03.Other_Bail.Average"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">74. Общая
                                сумма предоставленных потребительских займов за последний
                                квартал отчетного
                                периода, тыс. руб.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11168"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="All_Money"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_03.Other_Bail.All_Money"
                                        name="data.periodChoice.Section_03.Other_Bail.All_Money"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">75.
                                Количество договоров потребительского займа, заключенных за
                                последний квартал
                                отчетного периода, шт.<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11181"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="0" total-digits="15"  required
                                        xml-tag-name="Contracts"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_03.Other_Bail.Contracts"
                                        name="data.periodChoice.Section_03.Other_Bail.Contracts"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>