<div xml-tag-name="Section_04"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Раздел IV. Балансовые показатели</h4>
    <br/>

    <div class="panel-collapse  blockBody" id="d5972e11216">
        <div class="panel-body customPanelPadding">
            <div xml-tag-name="Assets" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11220"
                         aria-controls="d5972e11220" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Активы
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11220">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">1.
                                Всего<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11224"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Total"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Assets.Total"
                                        name="data.periodChoice.Section_04.Assets.Total"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">1.1.
                                Финансовые вложения<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11237"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Investments"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Assets.Investments"
                                        name="data.periodChoice.Section_04.Assets.Investments"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">1.2.
                                дебиторская задолженность<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11250"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Debt"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Assets.Debt"
                                        name="data.periodChoice.Section_04.Assets.Debt"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">1.3.
                                запасы<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11263"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Stocks"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Assets.Stocks"
                                        name="data.periodChoice.Section_04.Assets.Stocks"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">1.4.
                                основные средства<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11276"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Fixed_Assets"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Assets.Fixed_Assets"
                                        name="data.periodChoice.Section_04.Assets.Fixed_Assets"></div>
                            </div>
                            <div xml-tag-name="Cash"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class="panel panel-default customPanel">
                                    <div class=" panel-heading customPanelHeading"
                                         href="#d5972e11290"
                                          aria-controls="d5972e11290"
                                         aria-expanded="false">
                                        <div class="control-label customControlLabelHeading">
                                                                    <span class="  customIconPadding3"
                                                                          aria-hidden="true"></span>денежные средства
                                        </div>
                                    </div>
                                    <div class="panel-collapse " id="d5972e11290">
                                        <div class="panel-body customPanelPadding">
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения"><label
                                                    class="control-label col-sm-6 customControlLabel">1.5.
                                                Всего<span class="text-danger">*</span></label>

                                                <div class="col-sm-6" id="d5972e11294"><input
                                                        class="form-control" type="text"
                                                        data-xs-type="xs:integer" max-exclusive=""
                                                        max-inclusive="" min-exclusive=""
                                                        min-inclusive="" total-digits="15"
                                                         required  xml-tag-name="Total"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_04.Assets.Cash.Total"
                                                        name="data.periodChoice.Section_04.Assets.Cash.Total">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения"><label
                                                    class="control-label col-sm-6 customControlLabel">1.5.1.
                                                на расчетном счете<span
                                                        class="text-danger">*</span></label>

                                                <div class="col-sm-6" id="d5972e11307"><input
                                                        class="form-control" type="text"
                                                        data-xs-type="xs:integer" max-exclusive=""
                                                        max-inclusive="" min-exclusive=""
                                                        min-inclusive="" total-digits="15"
                                                         required  xml-tag-name="Account"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_04.Assets.Cash.Account"
                                                        name="data.periodChoice.Section_04.Assets.Cash.Account">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения"><label
                                                    class="control-label col-sm-6 customControlLabel">1.5.2.
                                                в кассе<span
                                                        class="text-danger">*</span></label>

                                                <div class="col-sm-6" id="d5972e11320"><input
                                                        class="form-control" type="text"
                                                        data-xs-type="xs:integer" max-exclusive=""
                                                        max-inclusive="" min-exclusive=""
                                                        min-inclusive="" total-digits="15"
                                                         required
                                                        xml-tag-name="Cash_Store"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_04.Assets.Cash.Cash_Store"
                                                        name="data.periodChoice.Section_04.Assets.Cash.Cash_Store"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">1.6.
                                прочие активы<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11343"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Other_Assets"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Assets.Other_Assets"
                                        name="data.periodChoice.Section_04.Assets.Other_Assets"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div xml-tag-name="Capital" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11366"
                         aria-controls="d5972e11366" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Капитал
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11366">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2.
                                Всего<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11370"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Total"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Capital.Total"
                                        name="data.periodChoice.Section_04.Capital.Total"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2.1.
                                уставный капитал<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11383"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Paid-in_Capital"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Capital['Paid-in_Capital']"
                                        name="data.periodChoice.Section_04.Capital['Paid-in_Capital']"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2.2.
                                резервный капитал<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11396"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Reserve_Capital"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Capital.Reserve_Capital"
                                        name="data.periodChoice.Section_04.Capital.Reserve_Capital"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2.3.
                                добавочный капитал<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11409"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Capital_Surplus"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Capital.Capital_Surplus"
                                        name="data.periodChoice.Section_04.Capital.Capital_Surplus"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2.4.
                                нераспределенная прибыль (непокрытый убыток)<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11422"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="No_Destributed"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Capital.No_Destributed"
                                        name="data.periodChoice.Section_04.Capital.No_Destributed"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">2.5.
                                прочие составляющие капитала<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11436"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Other_Capital"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Capital.Other_Capital"
                                        name="data.periodChoice.Section_04.Capital.Other_Capital"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div xml-tag-name="Obligations" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e11459"
                         aria-controls="d5972e11459" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Обязательства
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e11459">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">3.
                                Всего<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11463"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Total"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Obligations.Total"
                                        name="data.periodChoice.Section_04.Obligations.Total"></div>
                            </div>
                            <div xml-tag-name="Borrowed_Funds"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class="panel panel-default customPanel">
                                    <div class=" panel-heading customPanelHeading"
                                         href="#d5972e11476"
                                          aria-controls="d5972e11476"
                                         aria-expanded="false">
                                        <div class="control-label customControlLabelHeading">
                                                                    <span class="  customIconPadding3"
                                                                          aria-hidden="true"></span>заемные средства
                                        </div>
                                    </div>
                                    <div class="panel-collapse " id="d5972e11476">
                                        <div class="panel-body customPanelPadding">
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения"><label
                                                    class="control-label col-sm-6 customControlLabel">3.1.
                                                Всего<span class="text-danger">*</span></label>

                                                <div class="col-sm-6" id="d5972e11480"><input
                                                        class="form-control" type="text"
                                                        data-xs-type="xs:integer" max-exclusive=""
                                                        max-inclusive="" min-exclusive=""
                                                        min-inclusive="" total-digits="15"
                                                         required  xml-tag-name="Total"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_04.Obligations.Borrowed_Funds.Total"
                                                        name="data.periodChoice.Section_04.Obligations.Borrowed_Funds.Total">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения"><label
                                                    class="control-label col-sm-6 customControlLabel">3.1.1.
                                                проценты, начисленные по заемным средствам<span
                                                        class="text-danger">*</span></label>

                                                <div class="col-sm-6" id="d5972e11493"><input
                                                        class="form-control" type="text"
                                                        data-xs-type="xs:integer" max-exclusive=""
                                                        max-inclusive="" min-exclusive=""
                                                        min-inclusive="" total-digits="15"
                                                         required
                                                        xml-tag-name="Interests"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_04.Obligations.Borrowed_Funds.Interests"
                                                        name="data.periodChoice.Section_04.Obligations.Borrowed_Funds.Interests">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">3.2.
                                кредиторская задолженность ломбарда<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11516"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Credit"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Obligations.Credit"
                                        name="data.periodChoice.Section_04.Obligations.Credit"
                                        ></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">3.3.
                                прочие обязательства<span class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e11529"><input
                                        class="form-control" type="text" data-xs-type="xs:integer"
                                        max-exclusive="" max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"  required
                                        xml-tag-name="Other_Obligations"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_04.Obligations.Other_Obligations"
                                        name="data.periodChoice.Section_04.Obligations.Other_Obligations"
                                        ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>