<div xml-tag-name="Sub_Section_01_01" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Подраздел 1. Реквизиты ломбарда</h4>
    <br/>

    <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
        <label class="control-label col-sm-6 customControlLabel">1. Полное наименование ломбарда<span
                class="text-danger">*</span>
        </label>

        <div class="col-sm-6" id="d5972e7872">
            <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255" required
                   xml-tag-name="Full_Name" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                   pattern="[а-яА-Я\s\p{P}\d]*"
                   pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                   data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Full_Name"
                   name="data.periodChoice.Section_01.Sub_Section_01_01.Full_Name">
        </div>
    </div>

    <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
        <label class="control-label col-sm-6 customControlLabel">2. Сокращенное наименование ломбарда
            <span class="text-danger">*</span>
        </label>

        <div class="col-sm-6" id="d5972e7889">
            <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                   required xml-tag-name="Short_Name" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                   pattern="[а-яА-Я\s\p{P}\d]*"
                   pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"

                   data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Short_Name"
                   name="data.periodChoice.Section_01.Sub_Section_01_01.Short_Name">

        </div>
    </div>

    <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
        <label class="control-label col-sm-6 customControlLabel">3. Код организационно-правовой формы ломбарда по
            ОКОПФ<span class="text-danger">*</span>
        </label>

        <div class="col-sm-6" id="d5972e7906">
            <select class="form-control" required
                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                    data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.OKOPF_Code"
                    name="data.periodChoice.Section_01.Sub_Section_01_01.OKOPF_Code">
                <option class="defaultValue" selected="true" value="">
                    -----Выберите нужный вариант------
                </option>
                <option value="1 10 00 (Хозяйственные товарищества)">1 10 00 (Хозяйственные товарищества)
                </option>
                <option value="1 10 51 (Полные товарищества)">1 10 51 (Полные товарищества)
                </option>
                <option value="1 10 64 (Товарищества на вере (коммандитные товарищества))"> 1 10 64 (Товарищества на
                    вере (коммандитные товарищества))
                </option>
                <option value="1 20 00 (Хозяйственные общества)">1 20 00 (Хозяйственные общества)
                </option>
                <option value="1 22 00 (Акционерные общества)">1 22 00 (Акционерные общества)
                </option>
                <option value="1 22 47 (Публичные акционерные общества)">1 22 47 (Публичные акционерные общества)
                </option>
                <option value="1 22 67 (Непубличные акционерные общества)">1 22 67 (Непубличные акционерные общества)
                </option>
                <option value="1 23 00 (Общества с ограниченной ответственностью)"> 1 23 00 (Общества с ограниченной
                    ответственностью)
                </option>
                <option value="1 30 00 (Хозяйственные партнерства)">1 30 00 (Хозяйственные партнерства)
                </option>
                <option value="1 40 00 (Производственные кооперативы (артели))"> 1 40 00 (Производственные кооперативы
                    (артели))
                </option>
                <option value="1 41 00 (Сельскохозяйственные производственные кооперативы)"> 1 41 00
                    (Сельскохозяйственные производственные кооперативы)
                </option>
                <option value="1 41 53 (Сельскохозяйственные артели (колхозы))">1 41 53 (Сельскохозяйственные артели
                    (колхозы))
                </option>
                <option value="1 41 54 (Рыболовецкие артели (колхозы))">1 41 54 (Рыболовецкие артели (колхозы))
                </option>
                <option value="1 41 55 (Кооперативные хозяйства (коопхозы))">1 41 55 (Кооперативные хозяйства
                    (коопхозы))
                </option>
                <option value="1 42 00 (Производственные кооперативы (кроме сельскохозяйственных производственных кооперативов))">
                    1 42 00 (Производственные кооперативы (кроме сельскохозяйственных производственных кооперативов))
                </option>
                <option value="1 53 00 (Крестьянские (фермерские) хозяйства)">1 53 00 (Крестьянские (фермерские)
                    хозяйства)
                </option>
                <option value="1 90 00 (Прочие юридические лица, являющиеся коммерческими организациями)"> 1 90 00
                    (Прочие
                    юридические лица, являющиеся коммерческими организациями)
                </option>
                <option value="6 50 00 (Унитарные предприятия)">6 50 00 (Унитарные предприятия)
                </option>
                <option value="6 51 00 (Унитарные предприятия, основанные на праве оперативного управления (казенные предприятия))">
                    6 51 00 (Унитарные предприятия, основанные на праве оперативного управления (казенные предприятия))
                </option>
                <option value="6 51 41 (Федеральные казенные предприятия)">6 51 41 (Федеральные казенные предприятия)
                </option>
                <option value="6 51 42 (Казенные предприятия субъектов Российской Федерации)">
                    6 51 42 (Казенные предприятия субъектов Российской Федерации)
                </option>
                <option value="6 51 43 (Муниципальные казенные предприятия)">6 51 43 (Муниципальные казенные
                    предприятия)
                </option>
                <option value="6 52 00 (Унитарные предприятия, основанные на праве хозяйственного ведения)">
                    6 52 00 (Унитарные предприятия, основанные на праве хозяйственного ведения)
                </option>
                <option value="6 52 41 (Федеральные государственные унитарные предприятия)">
                    6 52 41 (Федеральные государственные унитарные предприятия)
                </option>
                <option value="6 52 42 (Государственные унитарные предприятия субъектов Российской Федерации)">
                    6 52 42 (Государственные унитарные предприятия субъектов Российской Федерации)
                </option>
                <option value="6 52 43 (Муниципальные унитарные предприятия)">6 52 43 (Муниципальные унитарные
                    предприятия)
                </option>
            </select>

        </div>
    </div>

    <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
        <label class="control-label col-sm-6 customControlLabel">4. Идентификационный номер налогоплательщика (ИНН)
            ломбарда<span class="text-danger">*</span>
        </label>

        <div class="col-sm-6" id="d5972e7973">
            <input class="form-control" type="text" data-xs-type="xs:string" length="10" required name="INN"
                   xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1" pattern="[0-9]{10}"
                   pattern-error="10 цифр" data-check="INN"
                   data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.INN"
                   name="data.periodChoice.Section_01.Sub_Section_01_01.INN">
        </div>
    </div>

    <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
        <label class="control-label col-sm-6 customControlLabel">5. Основной государственный регистрационный номер
            (ОГРН) ломбарда<span class="text-danger">*</span>
        </label>

        <div class="col-sm-6" id="d5972e7988">
            <input class="form-control" type="text" data-xs-type="xs:string" length="13" required name="OGRN"
                   xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1" pattern="[0-9]{13}"
                   pattern-error="13 цифр" data-check="OGRN"
                   data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.OGRN"
                   name="data.periodChoice.Section_01.Sub_Section_01_01.OGRN">
        </div>
    </div>

    <div class="panel panel-default" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1" xml-tag-name="Location">
        <div class="panel-heading blockHead">
            <div class="control-label customControlLabelHeading">
                <span aria-hidden="true"></span>6. Место нахождения ломбарда
            </div>
        </div>
        <div class="panel-body customPanelPadding" id="d5972e8004">
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Индекс</label>

                <div class="col-sm-6" id="d5972e8006">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1"  length="6"
                           optional xml-tag-attr="ZIP_Code" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[0-9]{6}" pattern-error="6 цифр"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._ZIP_Code"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._ZIP_Code">
                     </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Наименование субъекта Российской Федерации<span
                        class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e8015">
                    <select class="form-control" required xml-tag-attr="Federation_Subject"
                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._Federation_Subject"
                            name="data.periodChoice.Section_01.Sub_Section_01_01.Location._Federation_Subject">
                        <option class="defaultValue" selected="true" value="">-----Выберите нужный вариант------
                        </option>
                        <option value="Республика Адыгея (Адыгея)">Республика Адыгея (Адыгея)
                        </option>
                        <option value="Республика Алтай">Республика Алтай
                        </option>
                        <option value="Республика Башкортостан">Республика Башкортостан
                        </option>
                        <option value="Республика Бурятия">Республика Бурятия
                        </option>
                        <option value="Республика Дагестан">Республика Дагестан
                        </option>
                        <option value="Республика Ингушетия">Республика Ингушетия
                        </option>
                        <option value="Кабардино-Балкарская Республика">
                            Кабардино-Балкарская Республика
                        </option>
                        <option value="Республика Калмыкия">Республика Калмыкия
                        </option>
                        <option value="Карачаево-Черкесская Республика">Карачаево-Черкесская Республика
                        </option>
                        <option value="Республика Карелия">Республика Карелия
                        </option>
                        <option value="Республика Коми">Республика Коми
                        </option>
                        <option value="Республика Марий Эл">Республика Марий Эл
                        </option>
                        <option value="Республика Мордовия">Республика Мордовия
                        </option>
                        <option value="Республика Саха (Якутия)">Республика Саха (Якутия)
                        </option>
                        <option value="Республика Северная Осетия - Алания">Республика Северная Осетия - Алания
                        </option>
                        <option value="Республика Татарстан (Татарстан)">Республика Татарстан (Татарстан)
                        </option>
                        <option value="Республика Тыва">Республика Тыва</option>
                        <option value="Удмуртская Республика">Удмуртская Республика
                        </option>
                        <option value="Республика Хакасия">Республика Хакасия
                        </option>
                        <option value="Чеченская Республика">Чеченская Республика
                        </option>
                        <option value="Чувашская Республика">Чувашская Республика
                        </option>
                        <option value="Алтайский край">Алтайский край
                        </option>
                        <option value="Забайкальский край">Забайкальский край
                        </option>
                        <option value="Камчатский край">Камчатский край
                        </option>
                        <option value="Краснодарский край">Краснодарский край
                        </option>
                        <option value="Красноярский край">Красноярский край
                        </option>
                        <option value="Пермский край">Пермский край
                        </option>
                        <option value="Приморский край">Приморский край
                        </option>
                        <option value="Ставропольский край">Ставропольский край
                        </option>
                        <option value="Хабаровский край">Хабаровский край
                        </option>
                        <option value="Амурская область">Амурская область
                        </option>
                        <option value="Архангельская область">Архангельская область
                        </option>
                        <option value="Астраханская область">Астраханская область
                        </option>
                        <option value="Белгородская область">Белгородская область
                        </option>
                        <option value="Брянская область">Брянская область
                        </option>
                        <option value="Владимирская область">Владимирская область
                        </option>
                        <option value="Волгоградская область">Волгоградская область
                        </option>
                        <option value="Вологодская область">Вологодская область
                        </option>
                        <option value="Воронежская область">Воронежская область
                        </option>
                        <option value="Ивановская область">Ивановская область
                        </option>
                        <option value="Иркутская область">Иркутская область
                        </option>
                        <option value="Калининградская область"> Калининградская область
                        </option>
                        <option value="Калужская область">Калужская область
                        </option>
                        <option value="Кемеровская область">Кемеровская область
                        </option>
                        <option value="Кировская область">Кировская область
                        </option>
                        <option value="Костромская область">Костромская область
                        </option>
                        <option value="Курганская область">Курганская область
                        </option>
                        <option value="Курская область">Курская область
                        </option>
                        <option value="Ленинградская область">Ленинградская область
                        </option>
                        <option value="Липецкая область">Липецкая область
                        </option>
                        <option value="Магаданская область">Магаданская область
                        </option>
                        <option value="Московская область">Московская область
                        </option>
                        <option value="Мурманская область">Мурманская область
                        </option>
                        <option value="Нижегородская область">Нижегородская область
                        </option>
                        <option value="Новгородская область">Новгородская область
                        </option>
                        <option value="Новосибирская область">Новосибирская область
                        </option>
                        <option value="Омская область">Омская область
                        </option>
                        <option value="Оренбургская область">Оренбургская область
                        </option>
                        <option value="Орловская область">Орловская область
                        </option>
                        <option value="Пензенская область">Пензенская область
                        </option>
                        <option value="Псковская область">Псковская область
                        </option>
                        <option value="Ростовская область">Ростовская область
                        </option>
                        <option value="Рязанская область">Рязанская область
                        </option>
                        <option value="Самарская область">Самарская область
                        </option>
                        <option value="Саратовская область">Саратовская область
                        </option>
                        <option value="Сахалинская область">Сахалинская область
                        </option>
                        <option value="Свердловская область">Свердловская область
                        </option>
                        <option value="Смоленская область">Смоленская область
                        </option>
                        <option value="Тамбовская область">Тамбовская область
                        </option>
                        <option value="Тверская область">Тверская область
                        </option>
                        <option value="Томская область">Томская область
                        </option>
                        <option value="Тульская область">Тульская область
                        </option>
                        <option value="Тюменская область">Тюменская область
                        </option>
                        <option value="Ульяновская область">Ульяновская область
                        </option>
                        <option value="Челябинская область">Челябинская область
                        </option>
                        <option value="Ярославская область">Ярославская область
                        </option>
                        <option value="Москва">Москва</option>
                        <option value="Санкт-Петербург">Санкт-Петербург
                        </option>
                        <option value="Еврейская автономная область">Еврейская автономная область
                        </option>
                        <option value="Ненецкий автономный округ">Ненецкий автономный округ
                        </option>
                        <option value="Ханты-Мансийский автономный округ - Югра">Ханты-Мансийский автономный округ -
                            Югра
                        </option>
                        <option value="Чукотский автономный округ">Чукотский автономный округ
                        </option>
                        <option value="Ямало-Ненецкий автономный округ">Ямало-Ненецкий автономный округ
                        </option>
                        <option value="Республика Крым">Республика Крым
                        </option>
                        <option value="Севастополь">Севастополь</option>
                    </select>
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Район</label>

                <div class="col-sm-6" id="d5972e8204">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           optional xml-tag-attr="Region" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._Region"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._Region">
                </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Город (иной населенный пункт)<span
                        class="text-danger">*</span>
                </label>

                <div class="col-sm-6" id="d5972e8213">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           required xml-tag-attr="City" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._City"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._City">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Улица</label>

                <div class="col-sm-6" id="d5972e8222">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           optional xml-tag-attr="Street" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._Street"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._Street">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Дом</label>

                <div class="col-sm-6" id="d5972e8232">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="House" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._House"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._House">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Корпус/стр.</label>

                <div class="col-sm-6" id="d5972e8239">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="Building" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._Building"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._Building">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Квартира/офис</label>

                <div class="col-sm-6" id="d5972e8246">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="Flat" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Location._Flat"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Location._Flat">
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default customPanel" xml-tag-name="Real_Address"
         xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
        <div class="panel-heading blockHead">
            <div class="control-label customControlLabelHeading">
                <span aria-hidden="true"></span>7. Адрес фактического нахождения ломбарда
            </div>
        </div>
        <div class="panel-body customPanelPadding" id="d5972e8262">
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Индекс</label>

                <div class="col-sm-6" id="d5972e8264">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" length="6"
                           optional xml-tag-attr="ZIP_Code" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[0-9]{6}" pattern-error="6 цифр"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._ZIP_Code"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._ZIP_Code">

                </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Наименование субъекта Российской
                    Федерации<span class="text-danger">*</span>
                </label>

                <div class="col-sm-6" id="d5972e8273">
                    <select class="form-control" required xml-tag-attr="Federation_Subject"
                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Federation_Subject"
                            name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Federation_Subject">
                        <option class="defaultValue" selected="true" value="">-----Выберите нужный вариант------
                        </option>
                        <option value="Республика Адыгея (Адыгея)">Республика Адыгея (Адыгея)
                        </option>
                        <option value="Республика Алтай">Республика Алтай
                        </option>
                        <option value="Республика Башкортостан">Республика Башкортостан
                        </option>
                        <option value="Республика Бурятия">Республика Бурятия
                        </option>
                        <option value="Республика Дагестан">Республика Дагестан
                        </option>
                        <option value="Республика Ингушетия">Республика Ингушетия
                        </option>
                        <option value="Кабардино-Балкарская Республика">Кабардино-Балкарская Республика
                        </option>
                        <option value="Республика Калмыкия">Республика Калмыкия
                        </option>
                        <option value="Карачаево-Черкесская Республика">Карачаево-Черкесская Республика
                        </option>
                        <option value="Республика Карелия">Республика Карелия
                        </option>
                        <option value="Республика Коми">Республика Коми
                        </option>
                        <option value="Республика Марий Эл">Республика Марий Эл
                        </option>
                        <option value="Республика Мордовия">Республика Мордовия
                        </option>
                        <option value="Республика Саха (Якутия)">Республика Саха (Якутия)
                        </option>
                        <option value="Республика Северная Осетия - Алания">Республика Северная Осетия - Алания
                        </option>
                        <option value="Республика Татарстан (Татарстан)">Республика Татарстан (Татарстан)
                        </option>
                        <option value="Республика Тыва">Республика Тыва
                        </option>
                        <option value="Удмуртская Республика">Удмуртская Республика
                        </option>
                        <option value="Республика Хакасия">Республика Хакасия
                        </option>
                        <option value="Чеченская Республика">Чеченская Республика
                        </option>
                        <option value="Чувашская Республика">Чувашская Республика
                        </option>
                        <option value="Алтайский край">Алтайский край
                        </option>
                        <option value="Забайкальский край">Забайкальский край
                        </option>
                        <option value="Камчатский край">Камчатский край
                        </option>
                        <option value="Краснодарский край">Краснодарский край
                        </option>
                        <option value="Красноярский край">Красноярский край
                        </option>
                        <option value="Пермский край">Пермский край</option>
                        <option value="Приморский край">Приморский край
                        </option>
                        <option value="Ставропольский край">Ставропольский край
                        </option>
                        <option value="Хабаровский край">Хабаровский край
                        </option>
                        <option value="Амурская область">Амурская область
                        </option>
                        <option value="Архангельская область">Архангельская область
                        </option>
                        <option value="Астраханская область">Астраханская область
                        </option>
                        <option value="Белгородская область">Белгородская область
                        </option>
                        <option value="Брянская область">Брянская область
                        </option>
                        <option value="Владимирская область">Владимирская область
                        </option>
                        <option value="Волгоградская область">Волгоградская область
                        </option>
                        <option value="Вологодская область">Вологодская область
                        </option>
                        <option value="Воронежская область">Воронежская область
                        </option>
                        <option value="Ивановская область">Ивановская область
                        </option>
                        <option value="Иркутская область">Иркутская область
                        </option>
                        <option value="Калининградская область">Калининградская область
                        </option>
                        <option value="Калужская область">Калужская область
                        </option>
                        <option value="Кемеровская область">Кемеровская область
                        </option>
                        <option value="Кировская область">Кировская область
                        </option>
                        <option value="Костромская область">Костромская область
                        </option>
                        <option value="Курганская область">Курганская область
                        </option>
                        <option value="Курская область">Курская область
                        </option>
                        <option value="Ленинградская область">Ленинградская область
                        </option>
                        <option value="Липецкая область">Липецкая область
                        </option>
                        <option value="Магаданская область">Магаданская область
                        </option>
                        <option value="Московская область">Московская область
                        </option>
                        <option value="Мурманская область">Мурманская область
                        </option>
                        <option value="Нижегородская область">Нижегородская область
                        </option>
                        <option value="Новгородская область">Новгородская область
                        </option>
                        <option value="Новосибирская область">Новосибирская область
                        </option>
                        <option value="Омская область">Омская область
                        </option>
                        <option value="Оренбургская область">Оренбургская область
                        </option>
                        <option value="Орловская область">Орловская область
                        </option>
                        <option value="Пензенская область">Пензенская область
                        </option>
                        <option value="Псковская область">Псковская область
                        </option>
                        <option value="Ростовская область">Ростовская область
                        </option>
                        <option value="Рязанская область">Рязанская область
                        </option>
                        <option value="Самарская область">Самарская область
                        </option>
                        <option value="Саратовская область">Саратовская область
                        </option>
                        <option value="Сахалинская область">Сахалинская область
                        </option>
                        <option value="Свердловская область">Свердловская область
                        </option>
                        <option value="Смоленская область">Смоленская область
                        </option>
                        <option value="Тамбовская область">Тамбовская область
                        </option>
                        <option value="Тверская область">Тверская область
                        </option>
                        <option value="Томская область">Томская область
                        </option>
                        <option value="Тульская область">Тульская область
                        </option>
                        <option value="Тюменская область">Тюменская область
                        </option>
                        <option value="Ульяновская область">Ульяновская область
                        </option>
                        <option value="Челябинская область">Челябинская область
                        </option>
                        <option value="Ярославская область">Ярославская область
                        </option>
                        <option value="Москва">Москва</option>
                        <option value="Санкт-Петербург">Санкт-Петербург
                        </option>
                        <option value="Еврейская автономная область">Еврейская автономная область
                        </option>
                        <option value="Ненецкий автономный округ">Ненецкий автономный округ
                        </option>
                        <option value="Ханты-Мансийский автономный округ - Югра">Ханты-Мансийский автономный округ -
                            Югра
                        </option>
                        <option value="Чукотский автономный округ">Чукотский автономный округ
                        </option>
                        <option value="Ямало-Ненецкий автономный округ">Ямало-Ненецкий автономный округ
                        </option>
                        <option value="Республика Крым">Республика Крым
                        </option>
                        <option value="Севастополь">Севастополь</option>
                    </select>
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Район</label>

                <div class="col-sm-6" id="d5972e8462">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           optional xml-tag-attr="Region" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Region"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Region">
                </div>
            </div>

            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Город (иной населенный пункт)<span
                        class="text-danger">*</span>
                </label>

                <div class="col-sm-6" id="d5972e8471">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           required xml-tag-attr="City" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._City"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._City">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Улица</label>

                <div class="col-sm-6" id="d5972e8480">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           optional xml-tag-attr="Street" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Street"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Street">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Дом</label>

                <div class="col-sm-6" id="d5972e8490">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="House" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._House"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._House">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Корпус/стр.</label>

                <div class="col-sm-6" id="d5972e8497">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="Building"
                           xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Building"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Building">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Квартира/офис</label>

                <div class="col-sm-6" id="d5972e8504">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="Flat" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Flat"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Real_Address._Flat">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default customPanel" xml-tag-name="Post_Address"
         xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
        <div class="panel-heading blockHead">
            <div class="control-label customControlLabelHeading">
                <span aria-hidden="true"></span>8. Адрес для почтовой корреспонденции
            </div>
        </div>
        <div class="panel-body customPanelPadding" id="d5972e8520">
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Индекс</label>

                <div class="col-sm-6" id="d5972e8522">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" length="6" optional
                           xml-tag-attr="ZIP_Code" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[0-9]{6}" pattern-error="6 цифр"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._ZIP_Code"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._ZIP_Code">
                </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Наименование субъекта Российской Федерации<span
                        class="text-danger">*</span>
                </label>

                <div class="col-sm-6" id="d5972e8531">
                    <select class="form-control" required xml-tag-attr="Federation_Subject"
                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Federation_Subject"
                            name="data.periodChoice.Section_01.Sub_Section_01_01._Federation_Subject">
                        <option class="defaultValue" selected="true" value="">-----Выберите нужный вариант------
                        </option>
                        <option value="Республика Адыгея (Адыгея)">Республика Адыгея (Адыгея)
                        </option>
                        <option value="Республика Алтай">Республика Алтай
                        </option>
                        <option value="Республика Башкортостан">Республика Башкортостан
                        </option>
                        <option value="Республика Бурятия">Республика Бурятия
                        </option>
                        <option value="Республика Дагестан">Республика Дагестан
                        </option>
                        <option value="Республика Ингушетия">Республика Ингушетия
                        </option>
                        <option value="Кабардино-Балкарская Республика">Кабардино-Балкарская Республика
                        </option>
                        <option value="Республика Калмыкия">Республика Калмыкия
                        </option>
                        <option value="Карачаево-Черкесская Республика">Карачаево-Черкесская Республика
                        </option>
                        <option value="Республика Карелия">Республика Карелия
                        </option>
                        <option value="Республика Коми">Республика Коми
                        </option>
                        <option value="Республика Марий Эл">Республика Марий Эл
                        </option>
                        <option value="Республика Мордовия">Республика Мордовия
                        </option>
                        <option value="Республика Саха (Якутия)">Республика Саха (Якутия)
                        </option>
                        <option value="Республика Северная Осетия - Алания">Республика Северная Осетия - Алания
                        </option>
                        <option value="Республика Татарстан (Татарстан)">Республика Татарстан (Татарстан)
                        </option>
                        <option value="Республика Тыва">Республика Тыва
                        </option>
                        <option value="Удмуртская Республика">Удмуртская Республика
                        </option>
                        <option value="Республика Хакасия">Республика Хакасия
                        </option>
                        <option value="Чеченская Республика">Чеченская Республика
                        </option>
                        <option value="Чувашская Республика">Чувашская Республика
                        </option>
                        <option value="Алтайский край">Алтайский край
                        </option>
                        <option value="Забайкальский край">Забайкальский край
                        </option>
                        <option value="Камчатский край">Камчатский край
                        </option>
                        <option value="Краснодарский край">Краснодарский край
                        </option>
                        <option value="Красноярский край">Красноярский край
                        </option>
                        <option value="Пермский край">Пермский край</option>
                        <option value="Приморский край">Приморский край
                        </option>
                        <option value="Ставропольский край">Ставропольский край
                        </option>
                        <option value="Хабаровский край">Хабаровский край
                        </option>
                        <option value="Амурская область">Амурская область
                        </option>
                        <option value="Архангельская область">Архангельская область
                        </option>
                        <option value="Астраханская область">Астраханская область
                        </option>
                        <option value="Белгородская область">Белгородская область
                        </option>
                        <option value="Брянская область">Брянская область
                        </option>
                        <option value="Владимирская область">Владимирская область
                        </option>
                        <option value="Волгоградская область">Волгоградская область
                        </option>
                        <option value="Вологодская область">Вологодская область
                        </option>
                        <option value="Воронежская область">Воронежская область
                        </option>
                        <option value="Ивановская область">Ивановская область
                        </option>
                        <option value="Иркутская область">Иркутская область
                        </option>
                        <option value="Калининградская область">Калининградская область
                        </option>
                        <option value="Калужская область">Калужская область
                        </option>
                        <option value="Кемеровская область">Кемеровская область
                        </option>
                        <option value="Кировская область">Кировская область
                        </option>
                        <option value="Костромская область">Костромская область
                        </option>
                        <option value="Курганская область">Курганская область
                        </option>
                        <option value="Курская область">Курская область
                        </option>
                        <option value="Ленинградская область">Ленинградская область
                        </option>
                        <option value="Липецкая область">Липецкая область
                        </option>
                        <option value="Магаданская область">Магаданская область
                        </option>
                        <option value="Московская область">Московская область
                        </option>
                        <option value="Мурманская область">Мурманская область
                        </option>
                        <option value="Нижегородская область">Нижегородская область
                        </option>
                        <option value="Новгородская область">Новгородская область
                        </option>
                        <option value="Новосибирская область">Новосибирская область
                        </option>
                        <option value="Омская область">Омская область
                        </option>
                        <option value="Оренбургская область">Оренбургская область
                        </option>
                        <option value="Орловская область">Орловская область
                        </option>
                        <option value="Пензенская область">Пензенская область
                        </option>
                        <option value="Псковская область">Псковская область
                        </option>
                        <option value="Ростовская область">Ростовская область
                        </option>
                        <option value="Рязанская область">Рязанская область
                        </option>
                        <option value="Самарская область">Самарская область
                        </option>
                        <option value="Саратовская область">Саратовская область
                        </option>
                        <option value="Сахалинская область">Сахалинская область
                        </option>
                        <option value="Свердловская область">Свердловская область
                        </option>
                        <option value="Смоленская область">Смоленская область
                        </option>
                        <option value="Тамбовская область">Тамбовская область
                        </option>
                        <option value="Тверская область">Тверская область
                        </option>
                        <option value="Томская область">Томская область
                        </option>
                        <option value="Тульская область">Тульская область
                        </option>
                        <option value="Тюменская область">Тюменская область
                        </option>
                        <option value="Ульяновская область">Ульяновская область
                        </option>
                        <option value="Челябинская область">Челябинская область
                        </option>
                        <option value="Ярославская область">Ярославская область
                        </option>
                        <option value="Москва">Москва</option>
                        <option value="Санкт-Петербург">Санкт-Петербург
                        </option>
                        <option value="Еврейская автономная область"> Еврейская автономная область
                        </option>
                        <option value="Ненецкий автономный округ">Ненецкий автономный округ
                        </option>
                        <option value="Ханты-Мансийский автономный округ - Югра">Ханты-Мансийский автономный округ -
                            Югра
                        </option>
                        <option value="Чукотский автономный округ">Чукотский автономный округ
                        </option>
                        <option value="Ямало-Ненецкий автономный округ">Ямало-Ненецкий автономный округ
                        </option>
                        <option value="Республика Крым">Республика Крым
                        </option>
                        <option value="Севастополь">Севастополь</option>
                    </select>
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Район</label>

                <div class="col-sm-6" id="d5972e8720">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           optional xml-tag-attr="Region" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Region"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Region">
                </div>
            </div>

            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Город (иной населенный пункт)<span
                        class="text-danger">*</span>
                </label>

                <div class="col-sm-6" id="d5972e8729">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           required xml-tag-attr="City" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._City"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._City">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Улица</label>

                <div class="col-sm-6" id="d5972e8738">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="255"
                           optional xml-tag-attr="Street" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           pattern="[а-яА-Я\s\p{P}\d]*"
                           pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Street"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Street">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Дом</label>

                <div class="col-sm-6" id="d5972e8748">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="House" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._House"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._House">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Корпус/стр.</label>

                <div class="col-sm-6" id="d5972e8755">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="Building" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Building"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Building">
                </div>
            </div>

            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Квартира/офис</label>

                <div class="col-sm-6" id="d5972e8762">
                    <input class="form-control" type="text" data-xs-type="xs:string" min-length="1" max-length="32"
                           optional xml-tag-attr="Flat" xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                           data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Flat"
                           name="data.periodChoice.Section_01.Sub_Section_01_01.Post_Address._Flat">
                </div>
            </div>
        </div>
    </div>



    <!-- todo ниже дубли-->

    <div class="panel panel-default">
        <div class="panel-heading">
            9. Номера телефонов ломбарда
        </div>
        <div class="panel-body">

            <table class="table">
                <thead>
                <tr>
                    <th>Код города</th>
                    <th>Номер телефона</th>
                    <th >Добавочный номер</th>
                </tr>
                </thead>
                <tr data-ng-repeat="Phone in data.periodChoice.Section_01.Sub_Section_01_01.Phones.Phone">
                    <td>
                        <div>
                            <input class="form-control"
                                   type="text"
                                   data-xs-type="xs:string"
                                   data-min-length="1"
                                   data-max-length="16"
                                   data-pattern="\d*"
                                   data-pattern-error="Текст, содержащий только цифры"
                                   data-ng-model="Phone._City_Code"
                                   name="Phone{{$index}}._City_Code">
                        </div>
                    </td>
                    <td>
                        <div>
                            <input class="form-control"
                                   type="text"
                                   data-xs-type="xs:string"
                                   data-min-length="1"
                                   data-max-length="16"
                                   required
                                   data-pattern="\d*"
                                   data-pattern-error="Текст, содержащий только цифры"
                                   data-ng-model="Phone._Phone_Number"
                                   name="Phone{{$index}}._Phone_Number">
                        </div>
                    </td>
                    <td>
                        <div>
                            <input class="form-control"
                                   type="text"
                                   data-xs-type="xs:string"
                                   data-min-length="1"
                                   data-max-length="16"
                                   data-pattern="\d*"
                                   data-pattern-error="Текст, содержащий только цифры"
                                   data-ng-model="Phone._Extension_Number"
                                   name="Phone{{$index}}._Extension_Number">
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-default" data-ng-click="addPhone()">Добавить телефон</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label class="control-label col-sm-6 customControlLabel">
                    10. Номер факса ломбарда
                </label>

                <div class="col-sm-6">
                    <input type="checkbox" data-ng-model="notFax" ng-change="changeFax()"> Отсутствует
                </div>
            </div>
        </div>

        <div class="panel-body" data-ng-hide="notFax">
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">
                    Код города<span class="text-danger">*</span>
                </label>

                <div class="col-sm-6">
                    <input
                            class="form-control"
                            type="text"
                            data-xs-type="xs:string"
                            data-min-length="1"
                            data-max-length="16"
                            required
                            data-pattern="\d*"
                            data-pattern-error="Текст, содержащий только цифры"
                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Fax._City_Code"
                            name="data.periodChoice.Section_01.Sub_Section_01_01.Fax._City_Code">
                </div>
            </div>
            <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">
                    Номер телефона<span class="text-danger">*</span>
                </label>

                <div class="col-sm-6">
                    <input
                            class="form-control"
                            type="text"
                            data-xs-type="xs:string"
                            data-min-length="1"
                            data-max-length="16"
                            required
                            data-pattern="\d*"
                            data-pattern-error="Текст, содержащий только цифры"
                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Fax._Phone_Number"
                            name="data.periodChoice.Section_01.Sub_Section_01_01.Fax._Phone_Number">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">
                    Добавочный номер
                </label>

                <div class="col-sm-6">
                    <input
                            class="form-control"
                            type="text"
                            data-xs-type="xs:string"
                            data-min-length="1"
                            data-max-length="16"
                            data-pattern="\d*"
                            data-pattern-error="Текст, содержащий только цифры"
                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.Fax._Extension_Number"
                            name="data.periodChoice.Section_01.Sub_Section_01_01.Fax._Extension_Number">
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            19. Адреса электронной почты обособленного подразделения ломбарда
        </div>
        <div class="panel-body">
            <div class="form-group customFormGroup" data-ng-repeat="email in emails">
                <label class="control-label col-sm-6 customControlLabel blockHeadLabel" for="emails[{{$index}}]">
                    Адрес электронной почты
                </label>

                <div class="col-sm-6 customInputGroup">
                    <input class="form-control"
                           type="email"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="255"
                           required
                           data-pattern="(.)+@(.)+\.(.)+"
                           data-pattern-error=""
                           data-ng-model="email.value"
                           name="emails[{{$index}}]"
                           id="emails[{{$index}}]"
                           data-ng-change="changEmail($index)"
                            >
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default delCopyButton">
                        Удалить
                    </button>
                </span>
                </div>
            </div>
            <button class="btn btn-default" data-ng-click="addEmail()">Добавить адрес электронной почты</button>
        </div>
    </div>

    <!-- todo выше дубли -->

    <div class="form-group customFormGroup">
        <label class="control-label col-sm-6 customControlLabel blockHeadLabel" for="URL">
            12. Адрес сайта ломбарда в информационно-телекоммуникационной сети &#34;Интернет&#34;
        </label>

        <div class="col-sm-6 customInputGroup">
            <input class="form-control"
                   type="email"
                   data-xs-type="xs:string"
                   data-min-length="1"
                   data-max-length="255"
                   data-pattern="(.)+\.(.)+"
                   data-pattern-error=""
                   data-ng-model="data.periodChoice.Section_01.Sub_Section_01_01.URL"
                   name="data.periodChoice.Section_01.Sub_Section_01_01.URL"
                   id="URL"

                    >
        </div>
    </div>
</div>
