<div xml-tag-name="Sub_Section_01_03"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">


    <h4 class="customSectionHeader">Подраздел 3. Сведения о счетах ломбарда,
        открытых в кредитных организациях</h4>
    <br/>
    <div class="panel-collapseblockBody" id="d5972e9394">
        <div class="panel-body customPanelPadding">
            <div class="panel panel-default customPanel clonesGroup" id="d5972e9398"
                 min="0" max="unbounded"
                 title="Счет ломбарда, открытый в кредитной организации">
                <div class="hidden prototype cloneElement collapseBlock"
                     xml-tag-name="Account"
                     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                    <div class=" panel-default form-group customFormGroup customFormGroupWight blockHead">
                        <div
                             class="panel-heading customPanelHeading col-custom col-custom-9-10"
                             href="#d5972e9398"
                             aria-controls="d5972e9398" aria-expanded="false">
                            <div class="control-label customControlLabelHeading blockHeadLabel">
                                                                    <span class="glyphicon   customIconPadding3"
                                                                          aria-hidden="true"></span></div>
                        </div>
                        <div class="col-custom col-custom-1-10 panel-heading btn btn-default delCopyButtonPanel delCopyButton"
                             role="button">
                            <div class="pull-right"><span
                                    class="glyphicon glyphicon-minus"
                                    aria-hidden="true"></span>
                                Удалить

                            </div>
                        </div>
                    </div>
                    <div class="panel-collapseblockBody" id="d5972e9398">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">20.
                                Порядковый номер<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e9402"><input
                                        counter="" readonly="true"
                                        class="form-control" value="1"
                                        xml-tag-name="Sequence_Number"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Sequence_Number"
                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Sequence_Number"></div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">21.
                                Полное наименование кредитной организации<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e9422"><input
                                        class="form-control" type="text"
                                        data-xs-type="xs:string" min-length="1"
                                        max-length="255" length=""  required
                                        xml-tag-name="Bank_Name"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        pattern="[а-яА-Я\s\p{P}\d]*"
                                        pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Name"
                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Name"></div>
                            </div>
                            <div class="form-group"><label
                                    class="control-label col-sm-6 customControlLabel">Страна</label>

                                <div class="col-sm-6"><select
                                        class="form-control prototype"
                                        id="d5972e9439"
                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Type_Bank"
                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Type_Bank">
                                    <option id="d5972e9441" value="Россия"
                                            for="d5972e9439"
                                            group="d5972e9441_Group"
                                            xml-tag-name="Russian_Bank"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Russian_Bank"
                                            name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Russian_Bank">
                                        Россия
                                    </option>
                                    <option id="d5972e9780" value="Другая страна"
                                            for="d5972e9439"
                                            group="d5972e9780_Group"
                                            xml-tag-name="Foreign_Bank"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Foreign_Bank"
                                            name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Foreign_Bank">
                                        Другая страна
                                    </option>
                                </select></div>
                            </div>
                            <div id="d5972e9441_Group" for="d5972e9441"
                                 xml-tag-name="Russian_Bank"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class="panel panel-default customPanel collapseBlock"
                                     xml-tag-name="Bank_Location"
                                     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                    <div
                                         class=" panel-default panel-heading customPanelHeading blockHead"
                                         href="#d5972e9445"
                                         aria-controls="d5972e9445"
                                         aria-expanded="false">
                                        <div class="form-group customFormGroup">
                                            <div class="control-label col-sm-6 customControlLabelHeading">
                                                                                    <span class="glyphicon   customIconPadding3"
                                                                                          aria-hidden="true"></span>22.
                                                Место нахождения кредитной
                                                организации
                                            </div>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-collapseblockBody"
                                         id="d5972e9445">
                                        <div class="panel-body customPanelPadding">
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel">Индекс</label>

                                                <div class="col-sm-6"
                                                     id="d5972e9447"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1" max-length=""
                                                        length="6" optional=""
                                                        xml-tag-attr="ZIP_Code"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        pattern="[0-9]{6}"
                                                        pattern-error="6 цифр"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.ZIP_Code"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.ZIP_Code">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения">
                                                <label class="control-label col-sm-6 customControlLabel">Наименование
                                                    субъекта Российской
                                                    Федерации<span
                                                            class="text-danger">*</span></label>

                                                <div class="col-sm-6"
                                                     id="d5972e9456"><select
                                                        class="form-control"
                                                         required
                                                        xml-tag-attr="Federation_Subject"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Federation_Subject"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Federation_Subject">
                                                    <option class="defaultValue"
                                                            selected="true"
                                                            value="">-----Выберите
                                                        нужный вариант------
                                                    </option>
                                                    <option value="Республика Адыгея (Адыгея)">
                                                        Республика Адыгея (Адыгея)
                                                    </option>
                                                    <option value="Республика Алтай">
                                                        Республика Алтай
                                                    </option>
                                                    <option value="Республика Башкортостан">
                                                        Республика Башкортостан
                                                    </option>
                                                    <option value="Республика Бурятия">
                                                        Республика Бурятия
                                                    </option>
                                                    <option value="Республика Дагестан">
                                                        Республика Дагестан
                                                    </option>
                                                    <option value="Республика Ингушетия">
                                                        Республика Ингушетия
                                                    </option>
                                                    <option value="Кабардино-Балкарская Республика">
                                                        Кабардино-Балкарская
                                                        Республика
                                                    </option>
                                                    <option value="Республика Калмыкия">
                                                        Республика Калмыкия
                                                    </option>
                                                    <option value="Карачаево-Черкесская Республика">
                                                        Карачаево-Черкесская
                                                        Республика
                                                    </option>
                                                    <option value="Республика Карелия">
                                                        Республика Карелия
                                                    </option>
                                                    <option value="Республика Коми">
                                                        Республика Коми
                                                    </option>
                                                    <option value="Республика Марий Эл">
                                                        Республика Марий Эл
                                                    </option>
                                                    <option value="Республика Мордовия">
                                                        Республика Мордовия
                                                    </option>
                                                    <option value="Республика Саха (Якутия)">
                                                        Республика Саха (Якутия)
                                                    </option>
                                                    <option value="Республика Северная Осетия - Алания">
                                                        Республика Северная Осетия -
                                                        Алания
                                                    </option>
                                                    <option value="Республика Татарстан (Татарстан)">
                                                        Республика Татарстан
                                                        (Татарстан)
                                                    </option>
                                                    <option value="Республика Тыва">
                                                        Республика Тыва
                                                    </option>
                                                    <option value="Удмуртская Республика">
                                                        Удмуртская Республика
                                                    </option>
                                                    <option value="Республика Хакасия">
                                                        Республика Хакасия
                                                    </option>
                                                    <option value="Чеченская Республика">
                                                        Чеченская Республика
                                                    </option>
                                                    <option value="Чувашская Республика">
                                                        Чувашская Республика
                                                    </option>
                                                    <option value="Алтайский край">
                                                        Алтайский край
                                                    </option>
                                                    <option value="Забайкальский край">
                                                        Забайкальский край
                                                    </option>
                                                    <option value="Камчатский край">
                                                        Камчатский край
                                                    </option>
                                                    <option value="Краснодарский край">
                                                        Краснодарский край
                                                    </option>
                                                    <option value="Красноярский край">
                                                        Красноярский край
                                                    </option>
                                                    <option value="Пермский край">
                                                        Пермский край
                                                    </option>
                                                    <option value="Приморский край">
                                                        Приморский край
                                                    </option>
                                                    <option value="Ставропольский край">
                                                        Ставропольский край
                                                    </option>
                                                    <option value="Хабаровский край">
                                                        Хабаровский край
                                                    </option>
                                                    <option value="Амурская область">
                                                        Амурская область
                                                    </option>
                                                    <option value="Архангельская область">
                                                        Архангельская область
                                                    </option>
                                                    <option value="Астраханская область">
                                                        Астраханская область
                                                    </option>
                                                    <option value="Белгородская область">
                                                        Белгородская область
                                                    </option>
                                                    <option value="Брянская область">
                                                        Брянская область
                                                    </option>
                                                    <option value="Владимирская область">
                                                        Владимирская область
                                                    </option>
                                                    <option value="Волгоградская область">
                                                        Волгоградская область
                                                    </option>
                                                    <option value="Вологодская область">
                                                        Вологодская область
                                                    </option>
                                                    <option value="Воронежская область">
                                                        Воронежская область
                                                    </option>
                                                    <option value="Ивановская область">
                                                        Ивановская область
                                                    </option>
                                                    <option value="Иркутская область">
                                                        Иркутская область
                                                    </option>
                                                    <option value="Калининградская область">
                                                        Калининградская область
                                                    </option>
                                                    <option value="Калужская область">
                                                        Калужская область
                                                    </option>
                                                    <option value="Кемеровская область">
                                                        Кемеровская область
                                                    </option>
                                                    <option value="Кировская область">
                                                        Кировская область
                                                    </option>
                                                    <option value="Костромская область">
                                                        Костромская область
                                                    </option>
                                                    <option value="Курганская область">
                                                        Курганская область
                                                    </option>
                                                    <option value="Курская область">
                                                        Курская область
                                                    </option>
                                                    <option value="Ленинградская область">
                                                        Ленинградская область
                                                    </option>
                                                    <option value="Липецкая область">
                                                        Липецкая область
                                                    </option>
                                                    <option value="Магаданская область">
                                                        Магаданская область
                                                    </option>
                                                    <option value="Московская область">
                                                        Московская область
                                                    </option>
                                                    <option value="Мурманская область">
                                                        Мурманская область
                                                    </option>
                                                    <option value="Нижегородская область">
                                                        Нижегородская область
                                                    </option>
                                                    <option value="Новгородская область">
                                                        Новгородская область
                                                    </option>
                                                    <option value="Новосибирская область">
                                                        Новосибирская область
                                                    </option>
                                                    <option value="Омская область">
                                                        Омская область
                                                    </option>
                                                    <option value="Оренбургская область">
                                                        Оренбургская область
                                                    </option>
                                                    <option value="Орловская область">
                                                        Орловская область
                                                    </option>
                                                    <option value="Пензенская область">
                                                        Пензенская область
                                                    </option>
                                                    <option value="Псковская область">
                                                        Псковская область
                                                    </option>
                                                    <option value="Ростовская область">
                                                        Ростовская область
                                                    </option>
                                                    <option value="Рязанская область">
                                                        Рязанская область
                                                    </option>
                                                    <option value="Самарская область">
                                                        Самарская область
                                                    </option>
                                                    <option value="Саратовская область">
                                                        Саратовская область
                                                    </option>
                                                    <option value="Сахалинская область">
                                                        Сахалинская область
                                                    </option>
                                                    <option value="Свердловская область">
                                                        Свердловская область
                                                    </option>
                                                    <option value="Смоленская область">
                                                        Смоленская область
                                                    </option>
                                                    <option value="Тамбовская область">
                                                        Тамбовская область
                                                    </option>
                                                    <option value="Тверская область">
                                                        Тверская область
                                                    </option>
                                                    <option value="Томская область">
                                                        Томская область
                                                    </option>
                                                    <option value="Тульская область">
                                                        Тульская область
                                                    </option>
                                                    <option value="Тюменская область">
                                                        Тюменская область
                                                    </option>
                                                    <option value="Ульяновская область">
                                                        Ульяновская область
                                                    </option>
                                                    <option value="Челябинская область">
                                                        Челябинская область
                                                    </option>
                                                    <option value="Ярославская область">
                                                        Ярославская область
                                                    </option>
                                                    <option value="Москва">Москва
                                                    </option>
                                                    <option value="Санкт-Петербург">
                                                        Санкт-Петербург
                                                    </option>
                                                    <option value="Еврейская автономная область">
                                                        Еврейская автономная область
                                                    </option>
                                                    <option value="Ненецкий автономный округ">
                                                        Ненецкий автономный округ
                                                    </option>
                                                    <option value="Ханты-Мансийский автономный округ - Югра">
                                                        Ханты-Мансийский автономный
                                                        округ - Югра
                                                    </option>
                                                    <option value="Чукотский автономный округ">
                                                        Чукотский автономный округ
                                                    </option>
                                                    <option value="Ямало-Ненецкий автономный округ">
                                                        Ямало-Ненецкий автономный
                                                        округ
                                                    </option>
                                                    <option value="Республика Крым">
                                                        Республика Крым
                                                    </option>
                                                    <option value="Севастополь">
                                                        Севастополь
                                                    </option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel">Район</label>

                                                <div class="col-sm-6"
                                                     id="d5972e9645"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="255" length=""
                                                        optional=""
                                                        xml-tag-attr="Region"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        pattern="[а-яА-Я\s\p{P}\d]*"
                                                        pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Region"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Region">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup"
                                                 title="Поле обязательно для заполнения">
                                                <label class="control-label col-sm-6 customControlLabel">Город
                                                    (иной населенный пункт)<span
                                                            class="text-danger">*</span></label>

                                                <div class="col-sm-6"
                                                     id="d5972e9654"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="255" length=""
                                                         required
                                                        xml-tag-attr="City"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        pattern="[а-яА-Я\s\p{P}\d]*"
                                                        pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.City"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.City">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel">Улица</label>

                                                <div class="col-sm-6"
                                                     id="d5972e9663"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="255" length=""
                                                        optional=""
                                                        xml-tag-attr="Street"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        pattern="[а-яА-Я\s\p{P}\d]*"
                                                        pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Street"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Street">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel">Дом</label>

                                                <div class="col-sm-6"
                                                     id="d5972e9673"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="32" length=""
                                                        optional=""
                                                        xml-tag-attr="House"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.House"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.House">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel">Корпус/стр.</label>

                                                <div class="col-sm-6"
                                                     id="d5972e9680"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="32" length=""
                                                        optional=""
                                                        xml-tag-attr="Building"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Building"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Building">
                                                </div>
                                            </div>
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel">Квартира/офис</label>

                                                <div class="col-sm-6"
                                                     id="d5972e9687"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="32" length=""
                                                        optional=""
                                                        xml-tag-attr="Flat"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Flat"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Bank_Location.Flat">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group customFormGroup"
                                     title="Поле обязательно для заполнения"><label
                                        class="control-label col-sm-6 customControlLabel">23.
                                    Банковский идентификационный код (БИК) кредитной
                                    организации<span
                                            class="text-danger">*</span></label>

                                    <div class="col-sm-6" id="d5972e9703"><input
                                            class="form-control" type="text"
                                            data-xs-type="xs:string" min-length="1"
                                            max-length="" length="9"
                                             required  xml-tag-name="BIC"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            pattern="[0-9]{9}"
                                            pattern-error="9 цифр"
                                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.BIC"
                                            name="data.periodChoice.Section_01.Sub_Section_01_03.Account.BIC">
                                    </div>
                                </div>
                                <div class="form-group customFormGroup"
                                     title="Поле обязательно для заполнения"><label
                                        class="control-label col-sm-6 customControlLabel">24.
                                    Тип счета<span
                                            class="text-danger">*</span></label>

                                    <div class="col-sm-6" id="d5972e9720"><select
                                            class="form-control"  required
                                            xml-tag-name="Account_Type"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Type"
                                            name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Type">
                                        <option class="defaultValue" selected="true"
                                                value="">-----Выберите нужный
                                            вариант------
                                        </option>
                                        <option value="расчетный">расчетный</option>
                                        <option value="валютный">валютный</option>
                                        <option value="счет доверительного управления">
                                            счет доверительного управления
                                        </option>
                                        <option value="специальный банковский счет">
                                            специальный банковский счет
                                        </option>
                                        <option value="специальный брокерский счет">
                                            специальный брокерский счет
                                        </option>
                                        <option value="счет по вкладам (депозитам)">
                                            счет по вкладам (депозитам)
                                        </option>
                                        <option value="корреспондентский">
                                            корреспондентский
                                        </option>
                                        <option value="ссудный">ссудный</option>
                                        <option value="текущий">текущий</option>
                                        <option value="транзитный">транзитный
                                        </option>
                                        <option value="иные счета">иные счета
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group customFormGroup"
                                     title="Поле обязательно для заполнения"><label
                                        class="control-label col-sm-6 customControlLabel">25.
                                    Номер счета<span
                                            class="text-danger">*</span></label>

                                    <div class="col-sm-6" id="d5972e9761"><input
                                            class="form-control" type="text"
                                            data-xs-type="xs:string" min-length="1"
                                            max-length="" length="20"
                                             required
                                            xml-tag-name="Account_Number"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            pattern="[1-9]\d{4}[0-9ABCEHKMPTX]\d{14}"
                                            pattern-error="Формат лицевого счета"
                                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Number"
                                            name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Number">
                                    </div>
                                </div>
                            </div>
                            <div id="d5972e9780_Group" for="d5972e9780"
                                 xml-tag-name="Foreign_Bank"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class="form-group customFormGroup"
                                     title="Поле обязательно для заполнения"><label
                                        class="control-label col-sm-6 customControlLabel">22.
                                    Место нахождения кредитной организации<span
                                            class="text-danger">*</span></label>

                                    <div class="col-sm-6" id="d5972e9784">
                                    </div>
                                </div>
                                <div class="panel panel-default customPanel clonesGroup"
                                     id="d5972e9799" min="0" max="1"
                                     title="23. Банковский идентификационный код (SWIFT) кредитной организации">
                                    <div class="hidden prototype cloneElement">
                                        <div class="panel-body customPanelPadding blockHead">
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel blockHeadLabel"></label>

                                                <div class="col-sm-6 customInputGroup"
                                                     id="d5972e9799"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="11" length=""
                                                        optional=""
                                                        xml-tag-name="SWIFT"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.SWIFT"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.SWIFT"><span
                                                        class="input-group-btn"><button
                                                        type="button"
                                                        class="btn btn-default delCopyButton">
                                                                                        <span class="glyphicon glyphicon-minus"
                                                                                              aria-hidden="true"></span>
                                                    Удалить
                                                </button></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn btn-block btn-default panel-footer addCopyButton">
                                                                            <span class="glyphicon glyphicon-plus customIconPadding4"
                                                                                  aria-hidden="true"></span>Добавить
                                        "23. Банковский идентификационный код
                                        (SWIFT) кредитной организации"

                                    </div>
                                </div>
                                <div class="panel panel-default customPanel clonesGroup"
                                     id="d5972e9814" min="0" max="1"
                                     title="24. Тип счета">
                                    <div class="hidden prototype cloneElement">
                                        <div class="panel-body customPanelPadding blockHead">
                                            <div class="form-group customFormGroup">
                                                <label class="control-label col-sm-6 customControlLabel blockHeadLabel"></label>

                                                <div class="col-sm-6 customInputGroup"
                                                     id="d5972e9814"><input
                                                        class="form-control"
                                                        type="text"
                                                        data-xs-type="xs:string"
                                                        min-length="1"
                                                        max-length="255" length=""
                                                        optional=""
                                                        xml-tag-name="Account_Type"
                                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Type"
                                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Type"><span
                                                        class="input-group-btn"><button
                                                        type="button"
                                                        class="btn btn-default delCopyButton">
                                                                                        <span class="glyphicon glyphicon-minus"
                                                                                              aria-hidden="true"></span>
                                                    Удалить
                                                </button></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn btn-block btn-default panel-footer addCopyButton">
                                                                            <span class="glyphicon glyphicon-plus customIconPadding4"
                                                                                  aria-hidden="true"></span>Добавить
                                        "24. Тип счета"

                                    </div>
                                </div>
                                <div class="form-group customFormGroup"
                                     title="Поле обязательно для заполнения"><label
                                        class="control-label col-sm-6 customControlLabel">25.
                                    Номер счета<span
                                            class="text-danger">*</span></label>

                                    <div class="col-sm-6" id="d5972e9829"><input
                                            class="form-control" type="text"
                                            data-xs-type="xs:string" min-length="1"
                                            max-length="34" length=""
                                             required
                                            xml-tag-name="Account_Number"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Number"
                                            name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group customFormGroup"
                                 title="Поле обязательно для заполнения"><label
                                    class="control-label col-sm-6 customControlLabel">26.
                                Дата открытия счета<span
                                        class="text-danger">*</span></label>

                                <div class="col-sm-6" id="d5972e9847"><input
                                        class="form-control" data-xs-type="xs:date"
                                         required
                                        xml-tag-name="Account_Open_Date"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        pattern="\d{4}-\d{2}-\d{2}"
                                        pattern-error=""
                                        data-ng-model="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Open_Date"
                                        name="data.periodChoice.Section_01.Sub_Section_01_03.Account.Account_Open_Date"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="btn btn-block btn-default panel-footer addCopyButton">
                                                        <span class="glyphicon glyphicon-plus customIconPadding4"
                                                              aria-hidden="true"></span>Добавить "Счет ломбарда,
                    открытый в кредитной организации"

                </div>
            </div>
        </div>

    </div>
</div>