
<h4>Подраздел 2. Сведения об обособленных подразделениях ломбарда</h4>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th class="text-left">Наименование обособленного подразделения ломбарда</th>
        <th></th>
        <!--<th>Действия</th>-->
    </tr>
    </thead>
    <tr data-ng-repeat="Subdivision in data.periodChoice.Section_01.Sub_Section_01_02.Subdivision">
        <td data-ng-bind="Subdivision.Sequence_Number"></td>
        <td data-ng-bind="Subdivision.Name"></td>
        <td class="text-right">
            <button class="btn btn-default" data-ui-sref="root.Section_01/Sub_Section_01_02/Subdivision({subdivisionIndex: $index})">Редактировать</button>
            <button class="btn btn-danger">Удалить</button>
        </td>
    </tr>
</table>

<button class="btn btn-default" data-ng-click="addSubdivision()">Добавить</button>



