.growl-container.growl-fixed.top-right {
    top: 15px;
    right: 15px;
    width: 400px;
    position: absolute;
}

div[data-tree-model] ul {
    list-style: none;
    padding: 0;
}

div[data-tree-model] li {
    padding: 0 0 0 1.3em;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

.row-fluid a h4 {
    margin-bottom: 15px;
}

.row a h4 {
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 5px !important;
}

.tahoma-font {
    font-family: tahoma, verdana !important;
}

table th {
    text-align: center;
}

table tfoot th {
    text-align: left;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #888 !important;
    padding: 3px;
}

#xsdform .well {
    background: #fefefe;
    margin-bottom: 5px !important;
    border: 1px dashed #999;
}

#xsdform .form-group label {
    text-align: right;
}

#xsdform td.last-column {
    text-align: center;
    vertical-align: top;
}

#xsdform .table-row-item {
    vertical-align: top;
}

#xsdform .table-row-item textarea {
    min-height: 30px;
}

#xsdform .nav-tabs {
    border-bottom: 1px double #999;
}

#xsdform .nav-tabs > li > a:hover {
    border-color: #9f9f9f #9f9f9f #999999;
}

#xsdform .nav-tabs > li.active > a,
#xsdform .nav-tabs > li.active > a:hover,
#xsdform .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    border: 1px double #9f9f9f;
    border-bottom-color: transparent;
}

#xsdform .tab-pane.active {
    border-left: 1px double #999;
    border-right: 1px double #999;
    border-bottom: 1px double #999;
    padding: 5px;
    margin-bottom: 5px;
}

object.hiddenobject {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 0px;
    max-width: 0px;
    max-height: 0px;
}

/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
/*ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

.customValidIcon {
    left: -15px !important;
}

.customPanelFooter {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.customTreeHeader {
    height: 55px !important;
}

.has-error.validColor {
    color: #a94442;
}

.has-success.validColor {
    color: #3c763d;
}

.clonesGroup {
}

.cloneElement {
    margin-bottom: 10px !important;
}

.collapseBlock {
}

.blockHead {
}

.blockHeadLabel {
}

.blockBody {
}

.collapseButton {
}

.delCopyButton {
}

.customPanel {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.letter {
    margin-top: 15px !important;
}

.addCopyButton {
    text-align: left !important;
}

.customPanelHeading {
    padding: 5px 4px 5px 15px !important;
    border-radius: 0px !important;
}

.customIconPadding4, .customPanelPadding {
    padding-right: 4px !important;
}

.customIconPadding3 {
    padding-right: 6px !important;
}

.customIconPadding2 {
    padding-right: 8px !important;
}

.customIconPadding1 {
    padding-right: 10px !important;
}

.customControlLabelHeading {
    text-align: left !important;
    font-weight: 700 !important;
    margin-bottom: 5px !important;
    margin-top: 2px !important;
}

.customControlLabel {
    text-align: left !important;
    border-bottom: 1px solid #eee !important;
}

.customFormGroup {
    margin-bottom: 10px !important;
    margin-top: 0px !important;
}

.customFormGroupWight {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-custom {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-custom-9-10 {
    width: 90%;
}

.col-custom-4-7 {
    width: 57.2%;
}

.col-custom-3-7 {
    width: 42.8%;
}

.col-custom-1-10 {
    width: 10%;
}

.delCopyButtonPanel {
    height: 44px !important;
    border: 0px;
    border-radius: 0px !important;
}

.customSectionHeader {
    margin-bottom: 5px !important;
    margin-top: 2px !important;
}

.customInputGroup {
    display: table !important;
}

.customInputGroup .input-group-btn {
    vertical-align: top !important;
}

.customInputGroup > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
    background: lightslategray;
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 40px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background: slategray;
    background-repeat: no-repeat;
    color: darkslategray;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f1f1f1));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f1f1f1', GradientType=0);
    border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color- #fff, offx=1, offy=0);
    /*TO DONE*/
}

.ui-datepicker tbody td {
    padding: 0;
    border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: linear-gradient(top, #ededed 0%, #dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: #6eafbf;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    filter: dropshadow(color=#4d7a85, offx=0, offy=1);
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}