/*@page {size: landscape}*/

@page {
    margin-top: 1cm;
    margin-right:1cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
}

html, body {
    margin: 10px !important;
    padding: 10px !important;
    font-size: 8pt;
}

* { margin: 0 !important; padding: 0 !important; }

.table-print {
    display: table;
}

.row-print {
    display: table-row;
}

.row-print > .cel-print {
    display: table-cell;
}

table{
    width: 100%;
    font-size: 10pt;
}
td, th {
    text-align: center;
}

td .phone-number-cell {
    text-align: left;
}

input[type="text"], input[type="number"]{
    font-size: 70%;
}

input[type="radio"]{
    display: none;
}

.hidden-print {
    display: none !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.muted{color:#999}

.doc-head-align-right {
    text-align: end;
}

.doc-head-align-center {
    text-align: center;
}

