<h4>Обособленное подразделение ломбарда</h4>
<hr/>

<div class="form-group customFormGroup"
     title="Поле обязательно для заполнения">
    <label class="control-label col-sm-6 customControlLabel">
        13. Порядковый номер<span class="text-danger">*</span>
    </label>

    <div class="col-sm-6">
        <input class="form-control"
               type="text"
               readonly
               data-ng-model="Subdivision.Sequence_Number"
               name="Subdivision.Sequence_Number">
    </div>
</div>

<div class="form-group customFormGroup"
     title="Поле обязательно для заполнения">
    <label class="control-label col-sm-6 customControlLabel">
        14. Наименование обособленного подразделения ломбарда<span class="text-danger">*</span>
    </label>

    <div class="col-sm-6">
        <input class="form-control"
               type="text"
               data-xs-type="xs:string"
               data-min-length="1"
               data-max-length="255"
               required
               data-pattern="[а-яА-Я\s\p{P}\d]*"
               data-pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
               data-ng-model="Subdivision.Name"
               name="Subdivision.Name">
    </div>
</div>
<div class="form-group customFormGroup"
     title="Поле обязательно для заполнения">
    <label class="control-label col-sm-6 customControlLabel">
        15. Вид обособленного подразделения ломбарда<span class="text-danger">*</span>
    </label>

    <div class="col-sm-6">
        <select class="form-control"
                required
                data-ng-model="Subdivision.Subdivision_Type"
                name="Subdivision.Subdivision_Type">
            <option class="defaultValue" selected="true" value="">
                -----Выберите нужный вариант------
            </option>
            <option value="Представительство">
                Представительство
            </option>
            <option value="Филиал">Филиал</option>
            <option value="Иное обасобленное подразделение">
                Иное обасобленное подразделение
            </option>
    </select></div>
</div>
<div class="panel panel-default customPanel">
    <div class=" panel-default panel-heading customPanelHeading blockHead">
        <div class="form-group customFormGroup">
            <div class="control-label col-sm-6 customControlLabelHeading">
                16. Адрес фактического нахождения обособленного подразделения ломбарда
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <div class="panel-collapseblockBody">
        <div class="panel-body customPanelPadding">
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Индекс</label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-length="6"
                           data-pattern="[0-9]{6}"
                           data-pattern-error="6 цифр"
                           data-ng-model="Subdivision.Real_Address._ZIP_Code"
                           name="Subdivision.Real_Address._ZIP_Code">
                </div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Наименование
                    субъекта Российской Федерации<span
                            class="text-danger">*</span></label>

                <div class="col-sm-6">
                    <select class="form-control"
                            required
                            data-ng-model="Subdivision.Real_Address._Federation_Subject"
                            name="Subdivision.Real_Address.Federation_Subject">
                        <option class="defaultValue"
                                selected="true"
                                value="">-----Выберите
                            нужный вариант------
                        </option>
                        <option value="Республика Адыгея (Адыгея)">
                            Республика Адыгея (Адыгея)
                        </option>
                        <option value="Республика Алтай">
                            Республика Алтай
                        </option>
                        <option value="Республика Башкортостан">
                            Республика Башкортостан
                        </option>
                        <option value="Республика Бурятия">
                            Республика Бурятия
                        </option>
                        <option value="Республика Дагестан">
                            Республика Дагестан
                        </option>
                        <option value="Республика Ингушетия">
                            Республика Ингушетия
                        </option>
                        <option value="Кабардино-Балкарская Республика">
                            Кабардино-Балкарская
                            Республика
                        </option>
                        <option value="Республика Калмыкия">
                            Республика Калмыкия
                        </option>
                        <option value="Карачаево-Черкесская Республика">
                            Карачаево-Черкесская
                            Республика
                        </option>
                        <option value="Республика Карелия">
                            Республика Карелия
                        </option>
                        <option value="Республика Коми">
                            Республика Коми
                        </option>
                        <option value="Республика Марий Эл">
                            Республика Марий Эл
                        </option>
                        <option value="Республика Мордовия">
                            Республика Мордовия
                        </option>
                        <option value="Республика Саха (Якутия)">
                            Республика Саха (Якутия)
                        </option>
                        <option value="Республика Северная Осетия - Алания">
                            Республика Северная Осетия -
                            Алания
                        </option>
                        <option value="Республика Татарстан (Татарстан)">
                            Республика Татарстан
                            (Татарстан)
                        </option>
                        <option value="Республика Тыва">
                            Республика Тыва
                        </option>
                        <option value="Удмуртская Республика">
                            Удмуртская Республика
                        </option>
                        <option value="Республика Хакасия">
                            Республика Хакасия
                        </option>
                        <option value="Чеченская Республика">
                            Чеченская Республика
                        </option>
                        <option value="Чувашская Республика">
                            Чувашская Республика
                        </option>
                        <option value="Алтайский край">
                            Алтайский край
                        </option>
                        <option value="Забайкальский край">
                            Забайкальский край
                        </option>
                        <option value="Камчатский край">
                            Камчатский край
                        </option>
                        <option value="Краснодарский край">
                            Краснодарский край
                        </option>
                        <option value="Красноярский край">
                            Красноярский край
                        </option>
                        <option value="Пермский край">
                            Пермский край
                        </option>
                        <option value="Приморский край">
                            Приморский край
                        </option>
                        <option value="Ставропольский край">
                            Ставропольский край
                        </option>
                        <option value="Хабаровский край">
                            Хабаровский край
                        </option>
                        <option value="Амурская область">
                            Амурская область
                        </option>
                        <option value="Архангельская область">
                            Архангельская область
                        </option>
                        <option value="Астраханская область">
                            Астраханская область
                        </option>
                        <option value="Белгородская область">
                            Белгородская область
                        </option>
                        <option value="Брянская область">
                            Брянская область
                        </option>
                        <option value="Владимирская область">
                            Владимирская область
                        </option>
                        <option value="Волгоградская область">
                            Волгоградская область
                        </option>
                        <option value="Вологодская область">
                            Вологодская область
                        </option>
                        <option value="Воронежская область">
                            Воронежская область
                        </option>
                        <option value="Ивановская область">
                            Ивановская область
                        </option>
                        <option value="Иркутская область">
                            Иркутская область
                        </option>
                        <option value="Калининградская область">
                            Калининградская область
                        </option>
                        <option value="Калужская область">
                            Калужская область
                        </option>
                        <option value="Кемеровская область">
                            Кемеровская область
                        </option>
                        <option value="Кировская область">
                            Кировская область
                        </option>
                        <option value="Костромская область">
                            Костромская область
                        </option>
                        <option value="Курганская область">
                            Курганская область
                        </option>
                        <option value="Курская область">
                            Курская область
                        </option>
                        <option value="Ленинградская область">
                            Ленинградская область
                        </option>
                        <option value="Липецкая область">
                            Липецкая область
                        </option>
                        <option value="Магаданская область">
                            Магаданская область
                        </option>
                        <option value="Московская область">
                            Московская область
                        </option>
                        <option value="Мурманская область">
                            Мурманская область
                        </option>
                        <option value="Нижегородская область">
                            Нижегородская область
                        </option>
                        <option value="Новгородская область">
                            Новгородская область
                        </option>
                        <option value="Новосибирская область">
                            Новосибирская область
                        </option>
                        <option value="Омская область">
                            Омская область
                        </option>
                        <option value="Оренбургская область">
                            Оренбургская область
                        </option>
                        <option value="Орловская область">
                            Орловская область
                        </option>
                        <option value="Пензенская область">
                            Пензенская область
                        </option>
                        <option value="Псковская область">
                            Псковская область
                        </option>
                        <option value="Ростовская область">
                            Ростовская область
                        </option>
                        <option value="Рязанская область">
                            Рязанская область
                        </option>
                        <option value="Самарская область">
                            Самарская область
                        </option>
                        <option value="Саратовская область">
                            Саратовская область
                        </option>
                        <option value="Сахалинская область">
                            Сахалинская область
                        </option>
                        <option value="Свердловская область">
                            Свердловская область
                        </option>
                        <option value="Смоленская область">
                            Смоленская область
                        </option>
                        <option value="Тамбовская область">
                            Тамбовская область
                        </option>
                        <option value="Тверская область">
                            Тверская область
                        </option>
                        <option value="Томская область">
                            Томская область
                        </option>
                        <option value="Тульская область">
                            Тульская область
                        </option>
                        <option value="Тюменская область">
                            Тюменская область
                        </option>
                        <option value="Ульяновская область">
                            Ульяновская область
                        </option>
                        <option value="Челябинская область">
                            Челябинская область
                        </option>
                        <option value="Ярославская область">
                            Ярославская область
                        </option>
                        <option value="Москва">Москва
                        </option>
                        <option value="Санкт-Петербург">
                            Санкт-Петербург
                        </option>
                        <option value="Еврейская автономная область">
                            Еврейская автономная область
                        </option>
                        <option value="Ненецкий автономный округ">
                            Ненецкий автономный округ
                        </option>
                        <option value="Ханты-Мансийский автономный округ - Югра">
                            Ханты-Мансийский автономный
                            округ - Югра
                        </option>
                        <option value="Чукотский автономный округ">
                            Чукотский автономный округ
                        </option>
                        <option value="Ямало-Ненецкий автономный округ">
                            Ямало-Ненецкий автономный
                            округ
                        </option>
                        <option value="Республика Крым">
                            Республика Крым
                        </option>
                        <option value="Севастополь">
                            Севастополь
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Район</label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="255"
                           data-pattern="[а-яА-Я\s\p{P}\d]*"
                           data-pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="Subdivision.Real_Address._Region"
                           name="Subdivision.Real_Address._Region">
                </div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения">
                <label class="control-label col-sm-6 customControlLabel">Город
                    (иной населенный пункт)<span
                            class="text-danger">*</span></label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="255"
                           required
                           data-pattern="[а-яА-Я\s\p{P}\d]*"
                           data-pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="Subdivision.Real_Address._City"
                           name="Subdivision.Real_Address._City">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Улица</label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="255"
                           data-pattern="[а-яА-Я\s\p{P}\d]*"
                           data-pattern-error="Только кириллические символы, пробел, знаки пунктуации и цифры"
                           data-ng-model="Subdivision.Real_Address._Street"
                           name="Subdivision.Real_Address._Street">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Дом</label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="32"
                           data-ng-model="Subdivision.Real_Address._House"
                           name="Subdivision.Real_Address._House">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Корпус/стр.</label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="32"
                           data-ng-model="Subdivision.Real_Address._Building"
                           name="Subdivision.Real_Address._Building">
                </div>
            </div>
            <div class="form-group customFormGroup">
                <label class="control-label col-sm-6 customControlLabel">Квартира/офис</label>

                <div class="col-sm-6">
                    <input class="form-control"
                           type="text"
                           data-xs-type="xs:string"
                           data-min-length="1"
                           data-max-length="32"
                           data-ng-model="Subdivision.Real_Address._Flat"
                           name="Subdivision.Real_Address._Flat">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        17. Номера телефонов обособленного подразделения ломбарда
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
            <tr>
                <th>Код города</th>
                <th>Номер телефона</th>
                <th >Добавочный номер</th>
            </tr>
            </thead>
            <tr data-ng-repeat="Phone in Subdivision.Phones.Phone">
                <td>
                    <div>
                        <input class="form-control"
                               type="text"
                               data-xs-type="xs:string"
                               data-min-length="1"
                               data-max-length="16"
                               data-pattern="\d*"
                               data-pattern-error="Текст, содержащий только цифры"
                               data-ng-model="Phone._City_Code"
                               name="Phone{{$index}}._City_Code">
                    </div>
                </td>
                <td>
                    <div>
                        <input class="form-control"
                               type="text"
                               data-xs-type="xs:string"
                               data-min-length="1"
                               data-max-length="16"
                               required
                               data-pattern="\d*"
                               data-pattern-error="Текст, содержащий только цифры"
                               data-ng-model="Phone._Phone_Number"
                               name="Phone{{$index}}._Phone_Number">
                    </div>
                </td>
                <td>
                    <div>
                        <input class="form-control"
                               type="text"
                               data-xs-type="xs:string"
                               data-min-length="1"
                               data-max-length="16"
                               data-pattern="\d*"
                               data-pattern-error="Текст, содержащий только цифры"
                               data-ng-model="Phone._Extension_Number"
                               name="Phone{{$index}}._Extension_Number">
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn btn-default" data-ng-click="addPhone()">Добавить телефон</button>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
            <label class="control-label col-sm-6 customControlLabel">
                18. Номер факса обособленного подразделения ломбарда
            </label>

            <div class="col-sm-6">
                <input type="checkbox" data-ng-model="notFax" ng-change="changeFax()"> Отсутствует
            </div>
        </div>
    </div>

    <div class="panel-body" data-ng-hide="notFax">
        <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
            <label class="control-label col-sm-6 customControlLabel">
                Код города<span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
                <input
                    class="form-control"
                    type="text"
                    data-xs-type="xs:string"
                    data-min-length="1"
                    data-max-length="16"
                    required
                    data-pattern="\d*"
                    data-pattern-error="Текст, содержащий только цифры"
                    data-ng-model="Subdivision.Fax._City_Code"
                    name="Subdivision.Fax._City_Code">
            </div>
        </div>
        <div class="form-group customFormGroup" title="Поле обязательно для заполнения">
            <label class="control-label col-sm-6 customControlLabel">
                Номер телефона<span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
                <input
                    class="form-control"
                    type="text"
                    data-xs-type="xs:string"
                    data-min-length="1"
                    data-max-length="16"
                    required
                    data-pattern="\d*"
                    data-pattern-error="Текст, содержащий только цифры"
                    data-ng-model="Subdivision.Fax._Phone_Number"
                    name="Subdivision.Fax._Phone_Number">
            </div>
        </div>
        <div class="form-group customFormGroup">
            <label class="control-label col-sm-6 customControlLabel">
                Добавочный номер
            </label>

            <div class="col-sm-6">
                <input
                    class="form-control"
                    type="text"
                    data-xs-type="xs:string"
                    data-min-length="1"
                    data-max-length="16"
                    data-pattern="\d*"
                    data-pattern-error="Текст, содержащий только цифры"
                    data-ng-model="Subdivision.Fax._Extension_Number"
                    name="Subdivision.Fax._Extension_Number">
            </div>
        </div>
    </div>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        19. Адреса электронной почты обособленного подразделения ломбарда
    </div>
    <div class="panel-body">

        <div class="form-group customFormGroup" data-ng-repeat="email in emails">
            <label class="control-label col-sm-6 customControlLabel blockHeadLabel" for="emails[{{$index}}]">
                Адрес электронной почты
            </label>

            <div class="col-sm-6 customInputGroup">
                <input class="form-control"
                       type="email"
                       data-xs-type="xs:string"
                       data-min-length="1"
                       data-max-length="255"
                       required
                       data-pattern="(.)+@(.)+\.(.)+"
                       data-pattern-error=""
                       data-ng-model="email.value"
                       name="emails[{{$index}}]"
                       id="emails[{{$index}}]"
                       data-ng-change="changEmail($index)"
                        >
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default delCopyButton">
                        Удалить
                    </button>
                </span>
            </div>
        </div>
        <button class="btn btn-default" data-ng-click="addEmail()">Добавить адрес электронной почты</button>
    </div>
</div>
