<div class="container">
    <h3>Форма для электронной подписи xml</h3>

    <div data-ng-show="checkErrorSign">
        <h4>Обнаружены следующие ошибки при проверки ЭЦП:</h4>
        <ul>
            <li data-ng-show="checkErrorSignPlugin">Плагин не загружен. Для загрузки воспользуйтесь следующей ссылкой
                ...
            </li>
            <li data-ng-show="checkErrorSignMainSert">Отсутствуют личные сертификаты</li>
        </ul>
        <span class="label label-danger">
            Дальнейшая работа с ЭЦП не возможна.
        </span>
    </div>
    <div data-ng-show="!checkErrorSign">

        <h2>Форма в разработке ...</h2>
    </div>

</div>

