<div xml-tag-name="Sub_Section_02_04"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Подраздел 4. Иная информация</h4>
    <br/>

    <div class="panel-collapse blockBody" id="d5972e3156">
        <div class="panel-body customPanelPadding">
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">68. Количество
                договоров хранения вещей, заключенных за отчетный период ломбардом,
                шт.<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3160"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive="0"
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="Contracts"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_04.Contracts"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_04.Contracts"></div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">69. Общая
                сумма денежных средств, полученных за отчетный период ломбардом, по
                договорам
                хранения вещей, тыс. руб.<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3175"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive=""
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="All_Money"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_04.All_Money"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_04.All_Money"></div>
            </div>
            <div xml-tag-name="Result"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class="panel panel-default customPanel">
                    <div class=" panel-heading customPanelHeading"
                         href="#d5972e3188" data-toggle=""
                         aria-controls="d5972e3188" aria-expanded="false">
                        <div class="control-label customControlLabelHeading"><span
                                class="  customIconPadding3"
                                aria-hidden="true"></span>Чистая прибыль (убыток) по
                            всем видам деятельности, тыс. руб.
                        </div>
                    </div>
                    <div class="panel-collapse " id="d5972e3188">
                        <div class="panel-body customPanelPadding">
                            <div class="form-group"><label
                                    class="control-label col-sm-6 customControlLabel">Прибыль
                                или убытки</label>

                                <div class="col-sm-6"><select
                                        class="form-control prototype"
                                        id="d5972e3190">
                                    <option id="d5972e3192" value="70. Прибыль"
                                            for="d5972e3190"
                                            group="d5972e3192_Group" optional=""
                                            xml-tag-name="Profit"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                            >
                                        70. Прибыль
                                    </option>
                                    <option id="d5972e3205" value="70. Убытки"
                                            for="d5972e3190"
                                            group="d5972e3205_Group" optional=""
                                            xml-tag-name="Losses"
                                            xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                         >
                                        70. Убытки
                                    </option>
                                </select></div>
                            </div>
                            <div id="d5972e3192_Group" for="d5972e3192"
                                 xml-tag-name="Profit"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class="col-sm-6 col-sm-offset-6"><input
                                        class="form-control" type="text"
                                        data-xs-type="xs:integer" max-exclusive=""
                                        max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"
                                        optional="" xml-tag-name="Profit"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_02.Sub_Section_02_04.Result.Profit"
                                        name="data.periodChoice.Section_02.Sub_Section_02_04.Result.Profit"></div>
                            </div>
                            <div id="d5972e3205_Group" for="d5972e3205"
                                 xml-tag-name="Losses"
                                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                <div class="col-sm-6 col-sm-offset-6"><input
                                        class="form-control" type="text"
                                        data-xs-type="xs:integer" max-exclusive=""
                                        max-inclusive="" min-exclusive=""
                                        min-inclusive="" total-digits="15"
                                        optional="" xml-tag-name="Losses"
                                        xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                        data-ng-model="data.periodChoice.Section_02.Sub_Section_02_04.Result.Losses"
                                        name="data.periodChoice.Section_02.Sub_Section_02_04.Result.Losses"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>