<div xml-tag-name="Sub_Section_02_02"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Подраздел 2. Сведения о денежных
        средствах, привлеченных ломбардом</h4>
    <br/>


    <div class="panel-collapse blockBody" id="d5972e2759">
        <div class="panel-body customPanelPadding">
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_02_01"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading  blockHead"
                     href="#d5972e2763" data-toggle=""
                     aria-controls="d5972e2763" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>2.1. Сведения о денежных
                        средствах, привлеченных от юридических лиц
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2763">
                    <div class="panel-body customPanelPadding">
                        <div xml-tag-name="On_Report_Date"
                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                            <div class="panel panel-default customPanel">
                                <div class=" panel-heading customPanelHeading"
                                     href="#d5972e2767"
                                     data-toggle=""
                                     aria-controls="d5972e2767"
                                     aria-expanded="false">
                                    <div class="control-label customControlLabelHeading">
                                                                            <span class="  customIconPadding3"
                                                                                  aria-hidden="true"></span>Сумма
                                        задолженности по договорам займа и кредитным
                                        договорам, заключенным с юридическими
                                        лицами, на конец отчетного периода (основной
                                        долг и проценты), тыс. руб.
                                    </div>
                                </div>
                                <div class="panel-collapse "
                                     id="d5972e2767">
                                    <div class="panel-body customPanelPadding">
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения">
                                            <label class="control-label col-sm-6 customControlLabel">47.
                                                по основному долгу, тыс. руб.<span
                                                        class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e2771">
                                                <input class="form-control"
                                                       type="text"
                                                       data-xs-type="xs:integer"
                                                       max-exclusive=""
                                                       max-inclusive=""
                                                       min-exclusive=""
                                                       min-inclusive=""
                                                       total-digits="15"
                                                        required
                                                       xml-tag-name="Main_Debt"
                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Main_Debt"
                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Main_Debt">
                                            </div>
                                        </div>
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения">
                                            <label class="control-label col-sm-6 customControlLabel">48.
                                                по процентам, тыс. руб.<span
                                                        class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e2784">
                                                <input class="form-control"
                                                       type="text"
                                                       data-xs-type="xs:integer"
                                                       max-exclusive=""
                                                       max-inclusive=""
                                                       min-exclusive=""
                                                       min-inclusive=""
                                                       total-digits="15"
                                                        required
                                                       xml-tag-name="Interests"
                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Interests"
                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Interests">
                                            </div>
                                        </div>
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения">
                                            <label class="control-label col-sm-6 customControlLabel">49.
                                                всего, тыс. руб.<span
                                                        class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e2797">
                                                <input class="form-control"
                                                       type="text"
                                                       data-xs-type="xs:integer"
                                                       max-exclusive=""
                                                       max-inclusive=""
                                                       min-exclusive=""
                                                       min-inclusive=""
                                                       total-digits="15"
                                                        required
                                                       xml-tag-name="Total"
                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Total"
                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.On_Report_Date.Total">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">50.
                            Сумма денежных средств, предоставленных ломбарду
                            юридическими лицами по договорам
                            займа и кредитным договорам за отчетный период, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2820"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="For_Period"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Period"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Period"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">51.
                            Количество юридических лиц, предоставивших ломбарду
                            денежные средства по договорам
                            займа и кредитным договорам за отчетный период, ед.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2833"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required  xml-tag-name="Count"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.Count"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.Count"></div>
                        </div>
                        <div xml-tag-name="For_Banks"
                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                            <div class="panel panel-default customPanel">
                                <div class=" panel-heading customPanelHeading"
                                     href="#d5972e2848"
                                     data-toggle=""
                                     aria-controls="d5972e2848"
                                     aria-expanded="false">
                                    <div class="control-label customControlLabelHeading">
                                                                            <span class="  customIconPadding3"
                                                                                  aria-hidden="true"></span>в том числе
                                        по договорам, заключенным с кредитными
                                        организациями:
                                    </div>
                                </div>
                                <div class="panel-collapse "
                                     id="d5972e2848">
                                    <div class="panel-body customPanelPadding">
                                        <div xml-tag-name="On_Report_Date"
                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                                            <div class="panel panel-default customPanel">
                                                <div class=" panel-heading  customPanelHeading"

                                                     href="#d5972e2852"
                                                     data-toggle=""
                                                     aria-controls="d5972e2852"
                                                     aria-expanded="false">
                                                    <div class="control-label customControlLabelHeading">
                                                                                            <span class="  customIconPadding3"
                                                                                                  aria-hidden="true"></span>Сумма
                                                        задолженности по договорам
                                                        займа и кредитным договорам,
                                                        заключенным с юридическими
                                                        лицами, на конец отчетного
                                                        периода (основной долг и
                                                        проценты), тыс. руб.
                                                    </div>
                                                </div>
                                                <div class="panel-collapse "
                                                     id="d5972e2852">
                                                    <div class="panel-body customPanelPadding">
                                                        <div class="form-group customFormGroup"
                                                             title="Поле обязательно для заполнения">
                                                            <label class="control-label col-sm-6 customControlLabel">52.
                                                                по основному долгу,
                                                                тыс. руб.<span
                                                                        class="text-danger">*</span></label>

                                                            <div class="col-sm-6"
                                                                 id="d5972e2856">
                                                                <input class="form-control"
                                                                       type="text"
                                                                       data-xs-type="xs:integer"
                                                                       max-exclusive=""
                                                                       max-inclusive=""
                                                                       min-exclusive=""
                                                                       min-inclusive=""
                                                                       total-digits="15"
                                                                        required
                                                                       xml-tag-name="Main_Debt"
                                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Main_Debt"
                                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Main_Debt">
                                                            </div>
                                                        </div>
                                                        <div class="form-group customFormGroup"
                                                             title="Поле обязательно для заполнения">
                                                            <label class="control-label col-sm-6 customControlLabel">53.
                                                                по процентам, тыс.
                                                                руб.<span
                                                                        class="text-danger">*</span></label>

                                                            <div class="col-sm-6"
                                                                 id="d5972e2869">
                                                                <input class="form-control"
                                                                       type="text"
                                                                       data-xs-type="xs:integer"
                                                                       max-exclusive=""
                                                                       max-inclusive=""
                                                                       min-exclusive=""
                                                                       min-inclusive=""
                                                                       total-digits="15"
                                                                        required
                                                                       xml-tag-name="Interests"
                                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Interests"
                                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Interests">
                                                            </div>
                                                        </div>
                                                        <div class="form-group customFormGroup"
                                                             title="Поле обязательно для заполнения">
                                                            <label class="control-label col-sm-6 customControlLabel">54.
                                                                всего, тыс.
                                                                руб.<span
                                                                        class="text-danger">*</span></label>

                                                            <div class="col-sm-6"
                                                                 id="d5972e2882">
                                                                <input class="form-control"
                                                                       type="text"
                                                                       data-xs-type="xs:integer"
                                                                       max-exclusive=""
                                                                       max-inclusive=""
                                                                       min-exclusive=""
                                                                       min-inclusive=""
                                                                       total-digits="15"
                                                                        required
                                                                       xml-tag-name="Total"
                                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Total"
                                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.On_Report_Date.Total">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения">
                                            <label class="control-label col-sm-6 customControlLabel">55.
                                                Сумма денежных средств,
                                                предоставленных ломбарду
                                                юридическими лицами по договорам
                                                займа и кредитным договорам за
                                                отчетный период, тыс. руб.<span
                                                        class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e2905">
                                                <input class="form-control"
                                                       type="text"
                                                       data-xs-type="xs:integer"
                                                       max-exclusive=""
                                                       max-inclusive=""
                                                       min-exclusive=""
                                                       min-inclusive=""
                                                       total-digits="15"
                                                        required
                                                       xml-tag-name="For_Period"
                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.For_Period"
                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.For_Period">
                                            </div>
                                        </div>
                                        <div class="form-group customFormGroup"
                                             title="Поле обязательно для заполнения">
                                            <label class="control-label col-sm-6 customControlLabel">56.
                                                Количество юридических лиц,
                                                предоставивших ломбарду денежные
                                                средства по договорам
                                                займа и кредитным договорам за
                                                отчетный период, ед.<span
                                                        class="text-danger">*</span></label>

                                            <div class="col-sm-6" id="d5972e2918">
                                                <input class="form-control"
                                                       type="text"
                                                       data-xs-type="xs:integer"
                                                       max-exclusive=""
                                                       max-inclusive=""
                                                       min-exclusive=""
                                                       min-inclusive="0"
                                                       total-digits="15"
                                                        required
                                                       xml-tag-name="Count"
                                                       xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                       data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.Count"
                                                       name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_01.For_Banks.Count">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_02_02"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading blockHead"
                      href="#d5972e2953" data-toggle=""
                     aria-controls="d5972e2953" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>2.2. Сведения о денежных
                        средствах, привлеченных от физических лиц, являющихся
                        учредителями
                        (членами, участниками)
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2953">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">57.
                            Сумма задолженности (основной долг и проценты) по
                            договорам займа, заключенным
                            с физическими лицами, являющимися учредителями (членами,
                            участниками), на конец отчетного
                            периода, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2957"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="On_Report_Date"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.On_Report_Date"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.On_Report_Date"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">58.
                            Сумма денежных средств, предоставленных ломбарду
                            физическими лицами, являющимися
                            учредителями (членами, участниками), по договорам займа
                            за отчетный период, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2970"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="For_Period"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.For_Period"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.For_Period"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">59.
                            Количество физических лиц, являющихся учредителями
                            (членами, участниками), предоставивших
                            ломбарду денежные средства по договорам займа за
                            отчетный период, чел.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2983"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required  xml-tag-name="Count"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.Count"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_02.Count"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_02_03"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading blockHead"
                      href="#d5972e3008" data-toggle=""
                     aria-controls="d5972e3008" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>2.3. Общие сведения о денежных
                        средствах, привлеченных ломбардом
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e3008">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">60.
                            Общая сумма денежных средств, привлеченных ломбардом за
                            отчетный период, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e3012"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="All_Money"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.All_Money"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.All_Money"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">61.
                            Общее количество договоров займа и кредитных договоров,
                            заключенных ломбардом
                            за отчетный период, шт.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e3025"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required  xml-tag-name="Contracts"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.Contracts"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.Contracts"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">62.
                            Сумма задолженности по основному долгу по займам и
                            кредитам, привлеченным ломбардом,
                            на конец отчетного периода, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e3040"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_02.Sub_Section_02_02_03.Debt"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>