<div xml-tag-name="Sub_Section_02_03"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Подраздел 3. Информация о страховании
        рисков ломбарда, связанных с вещами</h4>
    <br/>

    <div class="panel-collapse blockBody" id="d5972e3073">
        <div class="panel-body customPanelPadding">
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">63. Количество
                договоров страхования вещей, принятых в залог, заключенных за
                отчетный
                период, шт.<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3077"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive="0"
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="Contracts"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_03.Contracts"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_03.Contracts"></div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">64. Сумма
                страховой премии (страховых взносов), уплаченной (уплаченных) за
                отчетный
                период ломбардом страховым организациям, тыс. руб.<span
                        class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3092"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive=""
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="Premium"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_03.Premium"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_03.Premium"></div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">65. Страховая
                сумма, на которую застрахованы вещи, принятые в залог на конец
                отчетного
                периода, тыс. руб.<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3105"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive=""
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="Insurance"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_03.Insurance"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_03.Insurance"></div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">66. Количество
                страховых случаев, наступивших за отчетный период, шт.<span
                        class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3118"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive="0"
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="Events"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_03.Events"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_03.Events"></div>
            </div>
            <div class="form-group customFormGroup"
                 title="Поле обязательно для заполнения"><label
                    class="control-label col-sm-6 customControlLabel">67. Сумма
                выплат по страховым случаям, осуществленных страховыми организациями
                за
                отчетный период, тыс. руб.<span class="text-danger">*</span></label>

                <div class="col-sm-6" id="d5972e3133"><input class="form-control"
                                                             type="text"
                                                             data-xs-type="xs:integer"
                                                             max-exclusive=""
                                                             max-inclusive=""
                                                             min-exclusive=""
                                                             min-inclusive=""
                                                             total-digits="15"
                                                              required
                                                             xml-tag-name="Payments"
                                                             xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                                             data-ng-model="data.periodChoice.Section_02.Sub_Section_02_03.Payments"
                                                             name="data.periodChoice.Section_02.Sub_Section_02_03.Payments"></div>
            </div>
        </div>

    </div>
</div>