<div xml-tag-name="Sub_Section_02_01"
     xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">

    <h4 class="customSectionHeader">Подраздел 1. Сведения о займах</h4>
    <br/>

    <div class="panel-collapse blockBody" id="d5972e2431">
        <div class="panel-body customPanelPadding">
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_01_01"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading blockHead"
                     href="#d5972e2435" data-toggle=""
                     aria-controls="d5972e2435" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>1.1. Задолженность по
                        основному долгу по предоставленным займам
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2435">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">33.
                            Сумма займов, выданных за отчетный период, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2439"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="Loan_Amount"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Loan_Amount"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Loan_Amount"
                                    ></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">34.
                            Сумма задолженности по основному долгу по
                            предоставленным займам на конец отчетного
                            периода, тыс. руб., в том числе:<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2452"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Debt"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">34.1.
                            Сумма задолженности по основному долгу по
                            предоставленным займам, не погашенным
                            в установленный срок, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2465"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="Not_Repaid_Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Not_Repaid_Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_01.Not_Repaid_Debt"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_01_02"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading blockHead"
                      href="#d5972e2488" data-toggle=""
                     aria-controls="d5972e2488" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>1.2. Задолженность по
                        процентам по предоставленным займам
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2488">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">35.
                            Сумма начисленных процентов по предоставленным займам за
                            отчетный период, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2492"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Interest_For_Period"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Interest_For_Period"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Interest_For_Period"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">36.
                            Сумма задолженности по процентам по предоставленным
                            займам на конец отчетного
                            периода, тыс. руб., в том числе:<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2505"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Interest_On_Report_Date"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Interest_On_Report_Date"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Interest_On_Report_Date"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">36.1.
                            Сумма задолженности по процентам по предоставленным
                            займам, не погашенным в
                            установленный срок, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2518"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Not_Repaid_Interest"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Not_Repaid_Interest"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_02.Not_Repaid_Interest"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_01_03"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading  blockHead"
                     href="#d5972e2541" data-toggle=""
                     aria-controls="d5972e2541" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>1.3. Полученные денежные
                        средства по предоставленным займам
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2541">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">37.
                            Сумма денежных средств, поступивших за отчетный период в
                            погашение задолженности
                            по основному долгу по предоставленным займам, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2545"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Payment_Main_Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Payment_Main_Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Payment_Main_Debt"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">38.
                            Сумма фактически полученных за отчетный период процентов
                            по предоставленным займам,
                            тыс. руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2558"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="Payment_Interest"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Payment_Interest"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Payment_Interest"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">39.
                            Сумма денежных средств от реализации невостребованных
                            вещей, поступивших за отчетный
                            период в погашение задолженности по основному долгу по
                            предоставленным займам, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2571"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Sale_For_Main_Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Sale_For_Main_Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Sale_For_Main_Debt"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">40.
                            Сумма денежных средств от реализации невостребованных
                            вещей, поступивших за отчетный
                            период в погашение задолженности по процентам по
                            предоставленным займам, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2584"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Sale_For_Interest"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Sale_For_Interest"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_03.Sale_For_Interest"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_01_04"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading  blockHead"
                    href="#d5972e2607" data-toggle=""
                     aria-controls="d5972e2607" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>1.4. Информация о договорах
                        займа
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2607">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">41.
                            Количество договоров займа, по которым на конец
                            отчетного периода обязательства
                            не погашены или заложенные вещи не проданы, шт., в том
                            числе:<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2611"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required
                                    xml-tag-name="Not_Made_Contracts"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Not_Made_Contracts"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Not_Made_Contracts"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">41.1.
                            Количество договоров займа, обязательства по которым не
                            погашены в установленный
                            срок и которые находятся на льготном месячном сроке, на
                            конец отчетного периода, шт.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2626"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required
                                    xml-tag-name="In_Preferential_Period"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.In_Preferential_Period"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.In_Preferential_Period"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">41.2.
                            Количество договоров займа, по которым истек льготный
                            месячный срок, но обязательства
                            по ним не погашены или заложенное имущество еще не
                            продано на конец отчетного периода,
                            шт.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2641"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required
                                    xml-tag-name="Out_Preferential_Period"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Out_Preferential_Period"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Out_Preferential_Period"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">42.
                            Количество заемщиков на конец отчетного периода,
                            чел.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2656"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required  xml-tag-name="Debtors"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Debtors"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Debtors"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">43.
                            Количество договоров займа, заключенных за отчетный
                            период, шт.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2671"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="0" total-digits="15"
                                     required
                                    xml-tag-name="Contracts_For_Period"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Contracts_For_Period"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_04.Contracts_For_Period"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default customPanel collapseBlock"
                 xml-tag-name="Sub_Section_02_01_05"
                 xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1">
                <div class=" panel-heading blockHead"
                     href="#d5972e2696" data-toggle=""
                     aria-controls="d5972e2696" aria-expanded="false">
                    <h4 class="panel-title customSectionHeader"><span
                            class="  customIconPadding2"
                            aria-hidden="true"></span>1.5. Иные сведения по
                        договорам займа
                    </h4>
                </div>
                <div class="panel-collapse blockBody" id="d5972e2696">
                    <div class="panel-body customPanelPadding">
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">44.
                            Сумма реструктурированной в отчетном периоде
                            задолженности по договорам займа,
                            тыс. руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2700"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required
                                    xml-tag-name="Restructured_Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.Restructured_Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.Restructured_Debt"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">45.
                            Сумма списанной в отчетном периоде задолженности по
                            основному долгу по договорам
                            займа, тыс. руб.<span
                                    class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2713"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="Described_Debt"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.Described_Debt"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.Described_Debt"></div>
                        </div>
                        <div class="form-group customFormGroup"
                             title="Поле обязательно для заполнения"><label
                                class="control-label col-sm-6 customControlLabel">46.
                            Сумма денежных средств, подлежащая получению ломбардом в
                            результате реализации
                            невостребованных вещей, на конец отчетного периода, тыс.
                            руб.<span class="text-danger">*</span></label>

                            <div class="col-sm-6" id="d5972e2726"><input
                                    class="form-control" type="text"
                                    data-xs-type="xs:integer" max-exclusive=""
                                    max-inclusive="" min-exclusive=""
                                    min-inclusive="" total-digits="15"
                                     required  xml-tag-name="For_Sale"
                                    xml-tag-namespace="urn:cbr-ru:e-forms-mf-form:v0.1"
                                    data-ng-model="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.For_Sale"
                                    name="data.periodChoice.Section_02.Sub_Section_02_01.Sub_Section_02_01_05.For_Sale"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
